
.routing-content{
  text-align: left;
}
 img{
  width: 200px;
  height: 200px;
 }

 .blue{
  background-color: #4ab8ca;
 }

 .red{
  background-color: #d8408d;
 }

 .yellow{
  background-color: #aba23a;
 }

