.list {
    font-family: lato;
    font-size: 1.6rem;
    border-radius: 3px;
    background-color: $color-grey-light;
    color: $color-grey-dark-2;
    box-shadow: 0 1rem 2rem rgba($color-black, .1);
     
        

    &-element:not(:last-child) {
        margin-bottom: 1.5rem;    
        border-bottom: 1px solid $color-grey-dark-2;
        
    }

    &-element {
        margin-bottom: 1rem;   
        margin: 0 5rem;
        padding: 1rem 0;
        margin-bottom: 1rem;
        list-style: none;
        text-decoration: none;
        text-align: center;
        transform: scale(1);
        transition: .1s all ease-out;

        &:first-child {
            padding-top: 2rem;
        }

        &:last-child {
            padding-bottom: 2rem;
        }
        &:hover {   
            transform: scale(1.15);
        }
    }
}