.btn {
    position: absolute;
    display: inline-block;
    right: 15%;
    top: 3%;
    font-size: 4rem;
    text-decoration: none;
    border-radius: 50%;
    border: 6px solid $color-primary-pink-3;
    color: $color-primary-pink-2;
    background-color: $color-white-light;
    transition: all .2s;
    transform: scaleX(1.2) translateX(0);

    &:active {
        color: $color-white-light;
        border: 6px solid $color-white-light;
        background-color: $color-primary-pink-2;
        transform: scaleX(1.2) translateX(-2rem);
    }
}