body {
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    background: #154360;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

header h1 {
    font-size: 64px;
    text-align: center;
    padding: 20px;
    background: #0B5345;
    margin-bottom: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main>section:first-of-type {
    background: rgb(7, 54, 45);
    display: inline-block;
    border-top: 15px solid #17A589;
    border-left: 15px solid #17A589;
    border-right: 15px solid #0B5345;
    border-bottom: 15px solid #0B5345;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #212F3C;
}

table button {
    position: relative;
    display: block;
    padding: 0;
    width: 103px;
    height: 103px;
    border: 2px solid #1B2631;
    cursor: pointer;
}

figure>img {
    display: block;
    width: 412px;
    height: 412px;
}

img {
    width: 100px;
    height: 100px;
}

section:last-of-type {
    margin: 30px;
    padding: 30px;
    border-top: 5px solid #607D8B;
    border-left: 5px solid #607D8B;
    border-bottom: 5px solid #1C2833;
    border-right: 5px solid #1C2833;
    background: #2E4053;
}

h4 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

h4+p {
    font-size: 24px;
    text-align: center;
}

hr {
    border: 1px solid #607D8B;
}

hr+button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: azure;
    background-color: #28B463;
    border: none;
    border-radius: 25px;
    box-shadow: 0 9px #607D8B;
    width: 130px;
    height: 60px;
}

hr~button:hover {
    background-color: #1D8348
}

hr~button:active {
    background-color: #1D8348;
    box-shadow: 0 5px #212F3C;
    transform: translateY(8px);
}

footer {
    margin-top: 20px;
    padding: 20px;
    background: #1B2631;
    text-align: end;
}

footer h1 {
    font-size: 18px;
    font-style: oblique;
    color: azure;
}

a {
    color: azure;
}