body {
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    background: #154360;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

header h1 {
    font-size: 64px;
    text-align: center;
    margin: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main>section:first-of-type {
    display: inline-block;
    border-top: 15px solid #17A589;
    border-left: 15px solid #17A589;
    border-right: 15px solid #0B5345;
    border-bottom: 15px solid #0B5345;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #212F3C;
}

table button {
    position: relative;
    width: 100%;
    height: 100%;
}

img {
    width: 150px;
    height: 150px;
}

hr+button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

hr~button:hover {
    background-color: #3e8e41
}

hr~button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}