.App {
  text-align: center;
}

.Fractal-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Fractal-title {
  font-size: 3.5em;
  font-family: 'Megrim', cursive;
}
