.btn {
    height: 30px;
    margin: 5px;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
}
.btn--dark-gray {
    color: aliceblue;
    background-color: var(--primary-color);
}