.card {
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow); 
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card--add-todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 100px; 
    padding: 15px;
    margin: 5px;
}

.card--todo-list {
    width: 600px;
    min-height: 50px;
    padding: 10px 25px 40px 25px;
}