.todo-table {
    border-collapse: collapse;
    width: 100%;
}

    .todo-table__row {
        border-bottom: 1px solid #ddd;
    }

    .todo-table__txt {
        padding: 10px 0;
    }

    .todo-table__btn {
        border-radius: 5px;
        border-color: red;
        color: red;
        outline: none;
    }

.todo-table__btn:hover {
    background-color: rgb(243, 243, 243);
}