*{
	margin: 0px;
	padding: 0px;
	border: 0px;
	border-spacing: 0;
}
.content{
	width: 326px;
	margin: 10px auto;
}
.text{
	font-size: 30px;
	font-family: Arial,Helvetica;
	color: white;	
	background: #808080;
	width: 325.8px;
	height: 80px;
}
.column{
	font-size: 30px;
	font-family: Arial,Helvetica;
	color: rgb(12, 12, 12);	
	background: #1E90FF;
	width: 82px;
	height: 80px;	
	background: rgb(167,207,223);
	background: -moz-radial-gradient(center, ellipse cover, rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); 
	background: radial-gradient(ellipse at center, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=1 ); 
	
}
.operator{	
	color: rgb(12, 12, 12);	
	width: 80px;
	height: 80px;
	font-size: 30px;
	font-family: Arial,Helvetica;	
	background: rgb(242,245,246); 
	background: -moz-radial-gradient(center, ellipse cover, rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); 
	background: -webkit-radial-gradient(center, ellipse cover, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); 
	background: radial-gradient(ellipse at center, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=1 );
}