.App {
  display: flex;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 6vmin;
  pointer-events: none;
  align-self: center;
}

.App-header {
  background-color: #282c34;
  min-height: 6vh;
  max-height: 7vh;
  font-size: calc(10px + 2vmin);
  color: #FD8006;
  display: flex;
  justify-content: center;
  align-content: stretch;

  h1{
    margin: 0; 
    font-size: calc(17px + 2vmin);
  }

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-body {
  background-color: #D8D8D8;
}

.App-button {
  display: inline-block;
  border: 0.1em solid #FD8006;
  border-radius: 0.12em;
  padding: 0.35em 1.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  color: #FD8006;
  text-align: center;
  transition: all 0.2s;
  background-color: #282c34;
  margin-right: 8px;

  &:hover{
    color: white;
    background-color: #FD8006;
  }
  &:focus{
    outline: none;
  }
  @media all and (max-width: 30em){
    display: block;
    margin: 0.4em auto;
  }
}

.App-button-create{
  background-color: white;
  width: 15%;
  margin-left: 128px;
}

.App-button-view{
  background-color: white;
  margin-top: 18px;
  margin-left: 4px;
}

.App-button-map{
  margin-left: 16px;
  width: 195px;
}

.App-button-icon{
  padding: 0.2em 0.4em;
  margin-right: 1.5%;
}

.App-footer {
  margin-top: 12px;
  font-size: calc(9px + 1vmin);
  color: #282c34;
  text-decoration: underline;
  position: relative;
  bottom: 5px;
  vertical-align: middle;
}

.App-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 10%;
  margin-top: 3vh;
  max-width: 80%;
  border: 0.1em solid #E6E6E6;
  background-color: white;
  flex-direction: column;

  .App-row-elements{
    flex-direction: row;
    margin: 12px 0px 12px 18px;

    .image-left{
      @media (max-width: 375px) {
        width: 280px;
        height: 200px;
      }
      @media (max-width: 320px) {
        width: 230px;
        height: 180px;
      }
      width: 320px;
      height: 220px;
      float: left;
    }

    .image-event{
      border-radius: 25px;
      width: 580px;
      height: 420px;
      margin-right: 8px;
      margin-bottom: 24px;
    }

    p{
      text-align: justify;
      margin: 0px 12px 12px 0px;
      line-height: 1.8em;
      padding-top: 12px;
      min-height: 130px;
      @media (min-width: 545px) {
        display: flex;
        align-items: center;
      }
    }

    h2{
      max-width: 97%;
      border-bottom: 0.1em solid black;
    }

    h2.signin{
      max-width: 97%;
      border-bottom: 0;
    }

    h3{
      color: #FD8006;
      text-align: center;
      margin-top: 10px;
    }

    .images-services{
      width: 180px;
      height: 120px;
    }

    .App-element-start{
      position: relative;
      bottom: 260px;
      @media (max-width: 1631px) {
        bottom: 0px;
        left: 145px;
      }
      @media (max-width: 1376px){
        bottom: 260px;
        left: 0px;
      }
    }
  }

  .App-column-elements{
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    margin-bottom: 18px;

    label{
      font-size: 16px;
      margin-bottom: 4px;
    }
    .App-element{
      margin-bottom: 16px;
    }

    .center-tools{
      text-align: center;
    }

    .center-text{
      text-align: center;
      max-width: 500px;
    }

    .subtitle-home{
      text-align: center;
      font-size: 18px;
      border-bottom: 0px;
      @media (max-width: 768px) {
        margin-left: 12px;
      }
      margin-left: 28px;
      margin-top: 36px;
    }

  }

  .App-center-elements{
    justify-content: center;
    margin-right: 12px;
    max-width: 500px;
    display: inline-block;
  }

  .App-font-event{
    font-size: 1rem;
  }

  .App-container_firstRow{
    width: 100%;
    border-bottom: 0.1em solid #E6E6E6;

    nav{
      display: flex;
      justify-content: space-around;
      margin: 12px 0px 12px 0px;
    }

  }
}

.App-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 77vw;
  margin-bottom: 12px;
}

.App-container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 12px;
  max-width: 65vw;

  input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &:hover input ~ .App-checkmark{
    background-color: #ccc;
  }

  input:checked ~ .App-checkmark {
    background-color: #282c34;
  }

  input:checked ~ .App-checkmark:after{
    display: block;
  }

  .App-checkmark:after{
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

}

.App-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  margin-top: 6px;

  &:after{
    content: "";
    position: absolute;
    display: none;
  }

}

.App-hideButton{
  background-color: white;
  border-color: black;
  &:focus{
    outline: none;
  }
}

.App-task-checked{
  background-color: #F2F2F2;
  border-radius: 10px;
}

.App-link{
  @media (max-width: 768px) {
    padding: 0px 0px 4px 0px;
  }
  padding: 0px 8px 8px 8px;
  font-size: 16px;
  color: #FD8006;
  border-radius: 5px;
  transition: all 0.2s;
  border: 1px solid #FD8006;

  i{
    position: relative;
    top: 5px;
    left: 3px;
  }

  &:hover{
    background-color: #FD8006;;
    color: white;
  }
}

.App-private-link{
  @media (max-width: 768px) {
    padding: 8px 0px 4px 0px;
  }
  padding: 8px 8px 8px 8px;
  font-size: 16px;
  color: #FD8006;
  border-radius: 5px;
  transition: all 0.2s;
  border: 1px solid #FD8006;

  i{
    position: relative;
    top: 5px;
    left: 3px;
  }

  &:hover{
    background-color: #FD8006;;
    color: white;
  }
}

.App-map-container{
  width: 100%;
  height: 75vh;
}

.App-map{
  position: relative !important;
  max-width: 96.5%;
  max-height: 75vh;
}

.App-map-searchbar{
  min-width: 82%;
  padding: 0.35em;
  margin-bottom: 16px;
  margin-left: 16px;
  font-size: 14px;
  margin-top: 16px;

  &:active, &:focus{
    outline-color: #282c34;
  }
}

.App-map-searchbar-create{
  width: 15%;
}


.App-map-searchbar-container{
  display: flex;
  flex-direction: row;
  margin-left: -18px;
}

.App-searchbar-container{
  background-color: #282c34;
  max-width: 100%;
  height: 75vh;
}

.App-create-searchbar{
  width: 20%;
  padding: 0.35em;
  margin-bottom: 16px;
  margin-left: 16px;
  font-size: 14px;
  margin-top: 16px;
  text-align: center;

  &:active, &:focus{
    outline-color: #282c34;
  }
}

.App-container-checkbox {
  display: inline-block;
  position: relative;
  padding-top: 4px;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 12px;
  max-width: 65vw;

  input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &:hover input ~ .App-checkmark{
    background-color: #ccc;
  }

  input:checked ~ .App-checkmark {
    background-color: #282c34;
  }

  input:checked ~ .App-checkmark:after{
    display: block;
  }

  .App-checkmark:after{
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

}

.App-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  margin-top: 6px;

  &:after{
    content: "";
    position: absolute;
    display: none;
  }

}

.App-select{
  margin-top: 12px;
  width: 30%;
  color: #282c34;
  font-size: 14px;

  div.css-1szy77t-control{
    box-shadow: 0 0 0 1px #282c34;
    border-color: #282c34;
  }

  div.css-kj6f9i-menu{
    div.css-11unzgr{
      div.css-fk865s-option{
        &:hover{
          background-color: #282c34;
        }
      }
    }
  }
  

}

.App-upload-image{
  width: 30%;
}

.App-carousel{
  width: 500px;
  height: 500px;
  display: inline-block;

  div.carousel.carousel-slider{
    ul{
      padding-left: 0;
      li{
        div{
            a.legend{
              font-size: 16px;
            }
            label.legend{
              font-size: 16px;
            }
        }
      }
    }
    p{
      font-size: 16px;
    }
  }
}

.App-yourEvents{
  max-width: 540px;
  display: inline-block;
}

.App-yourEvents-justify-center{
  display: flex;
  justify-content: center;
  margin: 12px 0px 12px 0px;

  @media (max-width: 1400px) {
    display: block;
    text-align: center;
  }

  .yourEvents-left{
    margin-right: 18px;
  }
  .yourEvents-right{
    margin-left: 8px;
  }
}