body {
  margin: 0;
  background-color: black;
}

/*Champions List*/

article {
  margin: 5%;
}

ul.champions-container {
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

li.champions-item {
  display: inline-block;
  list-style-type: none;
  margin-bottom: 3%;
  padding-right: 4%;
}

li.champions-item img:first-child {
  cursor: pointer;
  border: 2px solid goldenrod;
}

li.champions-item img:first-child:hover {
  opacity: 0.5;
}

li.champions-item :last-child {
  font-family: "Heebo";
  margin: 0;
  font-size: 12pt;
  text-align: center;
  cursor: default;
}

/*Challenger List*/
td {
  color: white;
}

header {
  background-color: #1f1f1f;
  border-bottom: 3px solid #4d4c4c;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 1%;
}

h1 {
  color: white;
  margin: 0;
  font-size: 20pt;
}

header nav {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

header nav a {
  padding-right: 20px;
}

.champion-name {
  color: white;
}

.summoner-container {
  background-color: rgb(82, 82, 76);
}

p {
  color: white;
}
