body {
  margin: 0;
  background-color: white;
}

.navigation-header-bar {
  background: black;
  border-bottom: 2px solid darkgrey;
  padding: 0 15px;
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-links-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}

.navigation-header-bar :first-child {
  display: flex;
  align-items: center;
}

.navigation-header-bar div a {
  padding-right: 15px;
}

.navigation-header-bar a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  outline: none;
}

.navigation-header-bar a:hover {
  color: #e91e63;
}

/*Champions List*/

article {
  margin: 5%;
}

ul.champions-container {
  margin: 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.page-wrapper {
  text-align: center;
}

.page-wrapper > h2,
.summoner-info-paper-container > h2 {
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  font-size: 40px;
}

.summoner-info-paper-container > h2 {
  margin-bottom: 0;
}

.summoner-info-paper-container > :nth-child(3) {
  text-transform: uppercase;
}

.additional-info {
  margin-top: 5%;
}

.additional-info h3 {
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
}

.additional-info > div {
  padding: 5px;
}

.additional-info ul {
  list-style-type: none;
  padding: 2% 2% 0 2%;
}

.additional-info ul li {
  margin-bottom: 20px;
}

.details-panel > :first-child {
  padding: 2%;
}

.details-panel > :first-child h5,
.details-panel > :first-child dt {
  text-transform: uppercase;
  margin: 0;
}

.details-panel > :first-child h5 {
  font-size: 17px;
}

.details-panel > :first-child dt {
  font-weight: 600;
  display: inline;
  margin-right: 10px;
}

.details-panel > :first-child dd {
  display: inline;
  margin: 0;
}

.flex-row-match-card {
  display: flex;
  flex-flow: row wrap;
  padding: 4px;
  justify-content: space-between;
  align-items: center;
}

.flex-row-match-card > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex {
  display: flex;
}

.column-flex {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}

.flex-row-match-card h4 {
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
}

li.champions-item {
  list-style-type: none;
  margin: 30px;
}

li.champions-item img:first-child {
  cursor: pointer;
  border: 2px solid goldenrod;
}

li.champions-item img:first-child:hover {
  opacity: 0.5;
}

li.champions-item :last-child {
  font-family: "Heebo";
  margin: 0;
  font-size: 12pt;
  text-align: center;
  cursor: default;
}

.table-container {
  margin: 2% 3%;
}

.table-container p,
.table-container span,
.table-container td {
  font-weight: 600;
}

.table-container thead tr th {
  font-size: 16px;
}

.table-wrapper {
  overflow: auto;
}

.progress :first-child {
  background-color: blue;
}

tbody tr td .MuiLinearProgress-root-73 {
  height: 10px;
}
.progress :last-child {
  background-color: red;
}

tbody tr:hover {
  cursor: pointer;
}

tbody tr.MuiTableRow-root-30 th {
  font-family: "Francois One", sans-serif;
  font-size: 16pt;
}

thead tr.MuiTableRow-root-30 th {
  font-family: "Noto Sans", sans-serif;
}

.search-section-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 250px;
  margin: 0 auto;
}
.search-section-container div:first-child {
  margin-left: 15px;
}

.summoner-info-paper-container {
  margin: 3% 10%;
  padding: 4%;
  text-align: center;
}

.profile-icon-image {
  width: 300px;
  height: 300px;
}

/**:focus {
  outline: solid 3px red !important ;
}*/

.challenger-section-title {
  margin-top: 0;
}
