body {
    background-color: #2D3237;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.container {
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    color: #fff;
}

.puzzle-container {
    position: relative;
    width: 450px;
    height: 450px;
    border: 15px solid #DA5A47;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
}

.puzzle-container > div {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: darkcyan;
    border: .1px solid rgb(255, 255, 255);
    text-align: center;
    font-size: 80px;
    color: #fff;
}

.puzzle-container > .blank {
    background-color: rgb(255, 255, 255);
}

.btn-group {
    display: flex;
    justify-content: center;
}

.btn {
    width: 110px;
    height: 45px;
    border-radius: 22px;
    margin: 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #DA5A47;
    color: #fff;
    outline: none;
} 

.win {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 300px;
    top: 50%;
    left: 50%;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: #DA5A47;
    background-color: #2D3237;
    border: 5px solid #fff;
    border-radius: 20px;
    z-index: 1;
}

p {
    text-align: center;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;

}
    