nav {
  position: fixed;
  top: 0;
  padding-top: 11%;
  width: 20%;
  height: 100%;
  background-color: #222;
  text-transform: capitalize;
  font-size: 1.3em;
}

.navMessage {
  color: white;
  text-transform: lowercase;
}

p::first-letter {
  text-transform: uppercase;
}

.active {
  background-color: #fff;
}
