footer {
    width: 100%;
    text-align: center;
    padding: 1em;
    background-color: black;
    color: white;
}

.player-control {
    margin-left: 0.75em;
    margin-right: 0.75em;
}

.play-btn:hover{    
    background-color: transparent;
    border: 2px solid rgba(255,255,255, 1); 
}

.play-btn {
    background-color: transparent;
    border: 2px solid rgba(255,255,255, 0.8);
}

.change-track-btn, .change-track-btn:hover, .change-track-btn:active:focus {
    background-color: transparent;
    border: none;
}

.change-track-btn {
    opacity: 0.8;
    outline: none;
}

.change-track-btn:hover {
    opacity: 1;
}

.centered {
    margin: 0 auto;
}

p {
    line-height: 0.2em;
}

.song-info {
    margin-top: 2%;
}

.song-title {
    font-weight: 700;
}

.song-info, .device-container {
    padding-top: 5%;
    padding-bottom: 5%;
}

.custom-select {
    background-color: black;
    color: white;
    border: none;
    width: 80%;
}
/* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb:hover {
    height: 15px;
    width: 8px;
    border-radius: 0;
    background: #7ba6ed;
    border: none;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb:hover {
    height: 15px;
    width: 8px;
    background: #7ba6ed;
    border-radius: 0;
    border: none;
  }