.background-login{
    background-image: url('../background.png');
    width: 100%;
    min-height: 972px;
    background-size: cover;
}

.background-login .login-container{
    width: 450px;
    height: 503px;
    margin: 0 720px ;
    padding: 150px 15px 0  15px; 
}

.background-login .login-container .login-content{
    background-color: #f3f3f3;
    min-width: 380px;
    padding: 40px;
    color: black;
}

.background-login .login-container .login-content .login-container-content{
    margin-bottom: 40px;
}

.background-login .login-container .login-content .login-container-content > label{
    color: rgb(0, 0, 0);
}

.background-login .login-container .login-content .login-container-content .form-login{
    border: solid 1px #b3b3b3;
    height: 44px;
    width: 100%;
    padding-left: 5px; 
    color: rgb(0, 0, 0);
    background-color: white;
}

.background-login .login-container .login-content .register-text span{
    text-decoration: underline;
}

.btn-login{
    width: 100%;
    background: #e50914;
    color: white;
    font-size: 18px;
    line-height: 1em;
}