body{
	margin: 0;
    padding: 0;
    border: 0;
}
#container{
	background-image: url(../img/model.jpg);
  background-size: cover;
  background-repeat: no-repeat;
	width: 750px;
	overflow: overlay;
}
hr.separator{
  border-top: 4px double #90508C;
}
section#article{
	margin: 50px 40px 50px;
	
}
section#footer{
	margin: 50px 30px 10px;
}
h1{
	font-family: "Forbes Bold";
	color: #012E69;
	font-size: 160px;
	margin: 0;
	text-align:center;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 22px;
}
p{
	font-size: 20px;
	font-weight: bold;
}
h3.top{
	margin-top:10px;
	margin-bottom:0px;
	padding-top:10px;
	padding-left:15px;
	color: white;
	text-shadow: 2px 2px #2E2E2E;
}
h3,h2,p{
	font-family: "Lucida Sans Regular", "Helvetica", sans-serif;
	text-transform: uppercase;
	color: black;
	margin: 0;
}
p.points{
	font-size:12px;
}
p.date{
	text-align: center;
	color: #90508C;
	margin: 0;
}
p.name{
	font-size: 30px;
	color: #F4E154;
	font-weight: bold;
	padding-left: 45px;
	text-shadow: 2px 2px #2E2E2E;
}
p.last{
	padding-left:10px;
	font-size: 22px;
	color: #2E2E2E;
}
