*{
  margin: 0 auto;
}
.container{
  background-image: url("../img/img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
}
header h1{
color: #d3d3d3;
font-family: sans-serif;
font-size: 15vw;
text-align: center;
font-weight: bold;
}

aside .left-side{
  width: 33%;
  margin-left: 20px;
}
aside .left-side .subtitle{
  text-align: center;
  color: yellow;
  font-size: 6vw;
  font-weight: bolder;
  text-transform: capitalize;
  line-height: 0.8;
}
aside .content-1 {
  margin-top: 10px;
  color: #d3d3d3;
  text-align: center;
  font-size: 2.8vw;
  line-height: 0.8;
}
aside .left-side .content-2{
  margin-top: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 6vw;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 0.8;
}
aside .left-side .content-2 span{
  font-style: italic;
}
aside .left-side .content-2 p:nth-of-type(3){
  color: #ffffff;
  font-size: 1.8vw;
}
aside .left-side .content-3{
  margin-top: 40px;
  margin-left: 120px;
  text-align: left;
  text-transform: capitalize;
}

aside .right-side{
  margin-top: -150px;
  margin-right: 20px;
  float: right;
  color: black;
  font-size: 2.3vw;
  line-height: 0.8;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
}
aside .right-side p.content-1{
  margin-top: 0;
  font-weight: normal;
  color: grey;
}
footer .main-text{
  margin-left: 40px;
  color: #ffffff;
  font-size: 9vw;
  line-height: 0.8;
  text-transform: capitalize;
}
footer .legend{
float: left;
margin-top: -80px;
margin-left: 300px;
color:#ffffff;
font-size: 2vw;
text-align: center;
line-height: 0.8;
}
footer .legend span{
  font-weight: bold;
}
footer .exclusive{
  margin-left: 80px;
  color: white;
  font-size: 2.8vw;
}
footer .exclusive span{
  color: yellow;
}
footer .right-side{
  float: left;
  margin-top: -180px;
  margin-left: 720px;
  color: #ffffff;
  font-size: 2vw;
  font-style: italic;
  line-height: 0.8;
}
