.container
{
    margin: 0 auto;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    height: 400px;;
}
.container-calc
{
    width:400px;
}
input[type="button"]
{
    width:32%;
    height: 50px;
}
.cadena
{
    width:97%;
    height: 50px;
    font-size:xx-large;
    text-align: right;
}
