
@keyframes headerAnim {
    0% {
        transform: scaleY(0);
    }

    70% {
        transform: scaleY(.8);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes footerAnim {
    0% {
        transform: scaleX(0.1);
    }
    80% {   
        transform: scaleX(0.8);
    }

    100% {  
        transform: scaleX(1);
    }
}