h2 {
    font-size: 1.6rem;
}

.anime-box-link {
    text-align: left;
    font-family: lato;
    font-size: 1.6rem;
    text-decoration: none;
    color: $color-grey-dark;

    &__text {
        position: absolute;
        padding: 1rem;
        left: 40%;
        
        
        transition: all .2s;
    
        &:hover {
            color: $color-primary-pink;
        }
    }

    &__ratings {
        display: inline-block;
        border-top:1px solid $color-grey-dark;
        position: absolute;
        left: 41.5%;
        top: 70%;


    }
}
.green {
    color: $color-green-1;
}

.blue {
    color: $color-blue-1;
}

.primary {
    font-weight: 700;
    color: $color-primary-pink-2;
}

.bold-color {
    text-transform: uppercase;
    font-weight: 700;
    color:$color-primary-pink-3;
}

.red {
    color: $color-red-1;
}

.purple {
    color: $color-purple-1;
}

.upper {
    text-transform: uppercase;
}