/* Blue background;  Backgroung image and settings */
body {
  background-image: url('../images/Backgroung-Jim-Parsons-sin-fondo.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-color: #238ED1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'open sans',arial, sans-serif;
  color: #0f0f0f;
}
