input[type=checkbox] {
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.todo-list-view {
    margin: 1% auto;
    border-left: 1.5px solid #222;
}

.todo-list-item {
    border-bottom: 1px solid #ddd;
    margin: 2% 3%;
    padding: 0 1%;
    transition: .5s;
}

.todo-list-item:hover {
    background-color: #ddd;
    font-weight: bold;
    margin: 3%;
    padding: 1%;
}

.item-checked {
    color: #ddd;
    text-decoration: line-through;
}

.action {
    cursor: pointer;
    font-size: 1em;
    padding: 2% 10%;
}

.remove-action {
    background-color: transparent;
    border: none;
    color: #222;
}

.todo-actions {
    background-color: #123;
    color: #fff;
    font-size: 1em;
    margin: 1% 3%;
}

.todo-actions>div {
    border: 1px solid #fff;
    cursor: pointer;
    padding: 1% 0;
    transition: .5s;
}

.todo-actions>div:hover {
    background-color: #fff;
    border: 1px solid #123;
    color: #123;
}

.todo-actions .selected {
    text-decoration: underline;
    font-weight: bold;
}