@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Oswald');

.App {
  text-align: center;
}

table tr th{
  font-family: 'Oswald', sans-serif;
  border: 1px solid #BBAF9A;
  color: #BBAF9A;
  height: 100px;
  width: 260px;
  font-size: 25px;
  position: relative;
  left: 400px;
  
}

.containerCar{
  background: black;
  height: 800px;
}

.formClimate{
  position: relative;
  left: 95px;
  height: 50;
}
.formClimate p{
  font-family: 'Oswald', sans-serif;
  color:#BBAF9A;
  position: relative;
  right: 100px;
  font-size: 40px;
  text-decoration: underline;
  padding: 30px;
}
.formClimate input{
  position: relative;
  right: 103px;
  height: 70px;
  width: 260px;
  text-align: center;
  font-size: 25px;
  background: #BBAF9A;
  font-family: 'Oswald', sans-serif;
  color: black;
}
.formClimate button{
  position: absolute;
  height: 50px;
}
.containerComponents{
  display: inline-block;
}

.itemsTodoList{
    background:#CCCCCC ;
    border-radius: 5px;
    margin: 10px;
    list-style: none;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}
.itemsTodoList div:hover{
    border-radius: 5px;
    background: #5E7CC2;
    cursor: pointer;
}
.containerComponents{
  box-sizing: border-box;
  width: 520px;
  display: inline-block;
  flex-direction: column;
  background: white;
  padding:10px;
  border-radius: 10px; 
  margin: 10px;
}

.boxTask{
  margin:auto;
  height: 40px;
  width: 400px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}

.boxTask:focus{
  border: 2px solid #348AC7;

}



.addTodoButton{
  margin: 2px;
  outline:none;
  height: 40px;
  text-align: center;
  width:70px;
  border-radius:10px;
  background: #fff;
  border: 2px solid#6978C0;
  color:#6978C0;
  letter-spacing:1px;
  text-shadow:0;
  font-family: 'Oswald', sans-serif;
  font-size: 23px;
}
.addTodoButton:hover{
  color:white;
  background:#348AC7;
  transition: all 0.05s ease;
  cursor: pointer;
}
.addTodoButton:active{
  letter-spacing: 5px;
}

.containerComponents{
width: 100%;
background: black;
margin: 0;

}