@import url('https://fonts.googleapis.com/css?family=Oswald');
.containerFooter{
    box-sizing: border-box;
    padding: 40px;
    background:#BBAF9A;
    height: 120px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: black;

}
