@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Signika');
.bodyFooter{
    box-sizing: border-box;
    background-image: url('../pictures/Footer/background.jpg');
    background-repeat: round;
    padding: 10px;
}
a:link{
    text-decoration: none;
    text-decoration-color: none;
}
.logoFooter{
    width: 150px;
    height:80px;
}

.logoText{
    margin:0;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
.footerNav ul{
    list-style: none; 
    margin: 0px;
    height: 100px;
    
}

.footerNav ul li{
    display: inline-block; 
    margin: 30px 25px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}


.footerNav ul li:after {
    content: '';
    display: block;
    background: #5A5A5A;
    width: 100%;
    height: 1.5px;
    transition: all .4s ease;
  }
  
  .footerNav ul li:hover:after {
    transform: translate(0, 0px);
    width: 100%;
    height: 20px;
    opacity: .0;
  }
  
  .footerNav ul li:hover {
    color: #000;
  }
  .footer{
      height: 200px;
      width: 1300px;
      padding: 20px;
      margin: auto;
  }
  .paragraph{  
    font-family: 'Signika', sans-serif;
    padding: 10px;
    margin: 20px 200px;
    font-size: 18.2px;
  }
  .paragraph span{  
    text-transform: uppercase;
    color: #000
  }
  .paragraph span a:hover{  
     color: #5A5A5A;  
  }