@import url('https://fonts.googleapis.com/css?family=Oswald');
.bodyHeader{
    background: #BBAF9A;
}

.headerNav ul li{
    display: inline-block; 
    margin: 0px 10px;
    position: relative;
    bottom: 40px;
    right: 25px;
}


.headerNav ul h1 img{
    position: relative;
    right: 600px;
    top:30px;
    height:90px;
    width: 95px;
}

    button{
    background: black;
    color: wheat;
    border: none;
    border-radius: 5px;
    position: relative;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif; 
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
  }
    button:hover{
    background:#BBAF9A;
    color: black;
  }
    button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: white;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
   button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  
  