.slot-group{
  padding: 0px;
  list-style-type: none;
  text-align: center;
}

.slot-group button{
  background: white;
  float: left;
  width: 100px;
  height: 100px;
  border-top:6px solid #CCCCCC;
  border-left:6px solid #CCCCCC;
  border-right:6px solid #787878;
  border-bottom:6px solid #787878;
  padding-top: 20px;
  text-align: center;
  font-size: 50px;
}

.puzzle{
  background: black;
  width: 300px;
  height: 340px;
  margin: 10px;
  padding: 10px;
}

.caption{
  color: white;
  text-align: center;
}

.emptySlot{
  background: gainsboro;
  border: 0px;
}
