.imagen{
	width:1000px;
	height:750px;
	background-image: url("fondo.JPG");
	margin-left: 250px;
	margin-right: 500px;
	margin-top: 30px;
}

.encabezado{
   display: inline-block;
   width: 1000px;
   height: 0px;
}

.encabezado p{
  width: 300px;
  height: 30px;
  float: left;
  background: #00adff82;
  font-family: 'Ramaraja', serif;
}

.encabezado p:first-child{
  margin: 30 170 30 0;
  padding: 0 30 0 0;
  text-align: right;
  color: white;
  font-size: 20px;
}

.encabezado p:last-child{
  margin: 30 0 30 170;
  padding: 0 0 0 30; 
  font-size: 20px;
}

.titulo h1{
  font-size: 200px;
  margin: 0;
  text-align: center;
}

.titulo h1 span{
  color: white;
}

.titulo h2 {
  color: white;
  text-align:center;
  font-size:25px; 
  margin: 0;
  height: 0px;
  font-family: 'Duru Sans', sans-serif;
  display: block;
  text-transform: uppercase;
}

.titulo h2 span {
  display: block;
  color: #ffce00;
  text-align:center;
  font-size:124px; 
  margin: 0;
  height: 0px;
  font-weight:bold;
}

.cuerpo{
  display: inline-block;
  width: 1000px;
  height: 0px;
  margin-top: 120px;
}

.cuerpo > h2{
  padding-left: 30px;
  text-align: left;
  font-size: 16px;
  width: 325px;
  margin: 0;
  font-family: 'Vast Shadow', cursive;
  text-transform: uppercase;
 }
 
 .cuerpo span{
  font-size: 29px;
 }

.contenidoRevista{
  width: 330px;
  margin-top: 5px;
  margin-left: 620px;
  font-size: 20px;
  text-align: right;
  text-transform: uppercase;
 }

.contenidoRevista h1{
  margin: 5px 0 5px 0;
  color:white;
  font-weight:bold;
  font-size:50px;
  
}

.contenidoRevista h2{
  margin: 5px 0 5px 0;
  font-size:21px;
  font-family: 'Vast Shadow', cursive;
}

.contenidoRevista h3{
  margin: 0;
  font-size:16px;
  color:white;
  font-family: 'Candal', sans-serif;
}

.franja{
	color:white;
	background:black;
	text-align:center;
	font-weight:bold;
	margin: 30px 100px 0 100px;
	height: 25px;
  text-transform: uppercase;
}

.franja p{
	height: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}



