.container {
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
}

.puzzle-container {
    position: relative;
    width: 600px;
    height: 600px;
    border: .5px solid black;
    margin-left: auto;
    margin-right: auto;
}

.puzzle-container > div {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: darkcyan;
    border: .5 solid black;
}

.puzzle-container > div:nth-child(1) {
    top: 0;
    left: 0;
}
.puzzle-container > div:nth-child(2) {
    top: 0;
    left: 200;
}