section.loginSection form {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    text-align: right;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button.login {
    background-color: #4c98af;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
  }