/*----General----*/
body {
	width: 670px;
	height: 867px;
	box-sizing: border-box;
	border: solid 1px black;

	background-color: #f5ddea;
	font-family: 'Roboto Slab', serif;
}
.font-Montserrat {
	font-family: 'Montserrat', sans-serif;
}
.font-Playfair {
	font-family: 'Playfair Display SC', serif;
}
.font-Euphoria {
	font-family: 'Euphoria Script', cursive;
}
.font-Poppins {
	font-family: 'Poppins', sans-serif;
}
/*----HEADER----*/
header {
	padding: 0 15px;
}
header h1 {
	margin: 0;
	font-size: 5.0em;
	letter-spacing: 4px;
	text-transform: uppercase;
}
header h1 span {
	position: relative;
}
.over_letter::after {
	content: 'girls';
	position: absolute;
	top: 48%;
	left: 0%;
	background-color: #f12493;
	color: white;
	font-size: 13px;
	padding: 0 1px 0 4px;
	/*Rotar elemento*/
	-ms-transform: rotate(-7deg); /* IE 9 */
	-webkit-transform: rotate(-7deg); /* Safari */
	transform: rotate(-7deg); /* Standard syntax */
}
header h2 {
	margin: 0;
	color: #f12493;
	font-size: 1.2em;
	letter-spacing: 12px;
}
header h2 span {
	color: black;
}
/*---- MAIN body----*/
.main_body {
	position: relative;
	width: 100%;
	height: 100%;
}
.main_body img{
	position: absolute;
	left: 22%;
	top: 1%;
	width: 67%;
}
section p {
	margin: -2px 0 0 0;
	font-size: 14px;
}
/*----RIGHT, LEFT Panel----*/
.left_panel, .right_panel {
	position: absolute;
}
/*----LEFT Panel----*/
.left_panel {
	text-align: left;
	left: 3%;
	bottom: 15%;
}
.left_panel section{
	padding-top:  26px;
	max-width: 200px;
}
h1.section_title_2 {
	width: fit-content;
	text-decoration: underline;
	margin: 0;
	font-size: 1.2em;
	padding:  0 2px;
	color: white;
	background-color: black;
}
h2.sub_section_title_2 {
	max-width: 75%;
	font-size: 1.0em;
	margin: 0;
}
.left_panel section:nth-child(3) {
	position: relative;
	height: 30px;
}
.left_panel section h3 {
	width: fit-content;
	position: absolute;
	margin: 0;
	letter-spacing: 2px;
	font-size: 1.2em;
}
.left_panel section h3:first-child {
	top: 0;
	left: 23%;
}
.left_panel section h3:last-child {
	top: 78%;
	left: 44%;
}
.main_body section img {
	width: 65%;
	left: 0;
	position: relative;
}
/*----RIGHT Panel----*/
.right_panel {
	text-align: right;
	right: 20px;
}
.right_panel section{
	max-width: 140px;
}
h1.section_title {
	margin: 0;
	color: #00a8a3;
	font-size: 3.2em;
	text-shadow: 1px 1px white;
}
h2.sub_section_title {
	font-size: 1.2em;
	margin: -12px 0 0 0;
}
/*----MAIN TEXT Body----*/
.main_text_body {
	position: absolute;
	top: 44%;
	left: 29%;
}
.main_text_body h1 {
	display: inline-grid;
	color: #00a8a3;
	font-size: 7.5em;
	text-shadow: 2px 2px white;
	/*Rotar elemento*/
	-ms-transform: rotate(-10deg); /* IE 9 */
	-webkit-transform: rotate(-10deg); /* Safari */
	transform: rotate(-10deg); /* Standard syntax */
}
.main_text_body h1 span:last-child {
	position: absolute;
	top: 81%;
	left: 34%;
}
