body {
	width: 670px;
	height: 867px;
	box-sizing: border-box;
	border: solid 1px black;

	background-color: #f5ddea;
	font-family: 'Roboto Slab', serif;
}
.font-Montserrat {
	font-family: 'Montserrat', sans-serif;
}
.font-Playfair {
	font-family: 'Playfair Display SC', serif;
}
.font-Euphoria {
	font-family: 'Euphoria Script', cursive;
}
.font-Poppins {
	font-family: 'Poppins', sans-serif;
}
header {
	padding: 0 15px;
}
header h1 {
	margin: 0;
	font-size: 5.0em;
	letter-spacing: 4px;
	text-transform: uppercase;
}
header h1 span {
	position: relative;
}
.over_letter::after {
	content: 'girls';
	position: absolute;
	top: 48%;
	left: 0%;
	background-color: #f12493;
	color: white;
	font-size: 13px;
	padding: 0 1px 0 4px;
	/*Rotar elemento*/
	-ms-transform: rotate(-7deg); /* IE 9 */
	-webkit-transform: rotate(-7deg); /* Safari */
	transform: rotate(-7deg); /* Standard syntax */
}
header h2 {
	margin: 0;
	color: #f12493;
	font-size: 1.2em;
	letter-spacing: 12px;
}
header h2 span {
	color: black;
}
/*---- MAIN body----*/
.main_body {
	position: relative;
	width: 100%;
	height: 100%;
}
.main_body img{
	position: absolute;
	left: 15%;
	top: 1%;
	width: 67%;
}
section p {
	margin: -2px 0 0 0;
	font-size: 14px;
}

.left_panel, .right_panel {
	position: absolute;
}
.left_panel {
	text-align: left;
	left: 0;
}
.main_body section img {
	width: 20%;
	position: relative;
}
.right_panel {
	text-align: right;
	right: 20px;
}
.right_panel section{
	max-width: 140px;
}
h1.section_title {
	margin: 0;
	color: #00a8a3;
	font-size: 3.2em;
	text-shadow: 1px 1px white;
}
h2.sub_section_title {
	font-size: 1.2em;
	margin: -12px 0 0 0;
}

