.text-heading{
    font-family: 'Varela Round', sans-serif;
    color: #FFF;
}
.text-summary{
    font-family: 'Varela Round', sans-serif;
    color: #FFF;
}

.ajust-content{
    padding-bottom: 75px; 
}
