.max-width-75{
    max-width: 75%;

}

.visuallyhidden{
    display: none;
}

.footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}
