.Todo-list {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  width: 500px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.content{
  width: 80%;
  text-align: center;
  display: inline-block;
}

.App-header{  
  height: 300px;
}

/* .content article{
  text-align: left;
  width: 450px;
}

li:hover{
  background-color: #89c9f2;
  color: black;
}

.checked{
  text-decoration: line-through;
} */

/* .routing-content{
  text-align: left;
}
 img{
  width: 200px;
  height: 200px;
 } */
