#root > main {
  position: relative;
  min-height: 100vh;
}
nav + section {
  padding-bottom: 80vh;
}

section + footer.container-fluid {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80vh;
}

nav.navbar {
  background: var(--primary-color);
}

header > img {
  width: 42px;
}

nav > section {
  font-size: var(--size-normal);
}

img + h1 {
  display: inline;
  margin: 0;
  margin-left: 10px;
  color: var(--font-color-white);
  font-size: var(--size-large);
}



