main p, main figure{
    margin: 0;
}

main > figure {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main > figure:first-of-type {
    background-image: url("../images/racket&ball.jpg");
    height: 50vh; 
    background-position: center 80%;
}

main > figure:first-of-type > p {
    padding: 2vh;
    font-size: var(--size-large);
    font-family: var(--font-group-3);
    color: var(--font-color-white);
    background: var(--font-color-mate);
    opacity: 0.85;
}

main > figure:first-of-type + section {
    padding: 10vh;
    background: var(--font-color-mate);
    color: var(--font-color-white);
    font-size: var(--size-normal);
    font-family: var(--font-group-3);
    box-shadow: 0 4px 10px 0 var(--font-color-black), 0 6px 20px 0 var(--font-color-black);
}

main > figure:first-of-type + section > h1 {
    text-align: center;
    font-size: var(--size-extra-large);
    font-family: var(--font-group-3);    
}

main > figure:nth-of-type(2) {
    background-image: url("../images/tennisNet.jpg");
    height: 60vh; 
}

main > figure:not(:first-of-type) > p {
    padding: 2vh;
    font-size: var(--size-large);
    font-family: var(--font-group-3);
    color: var(--font-color-white);
    text-shadow: 1px 1px 10px var(--font-color-black);
}

main > figure:nth-of-type(2) + section {
    padding: 10vh;
    background: var(--secundary-color-deep);
    color: var(--font-color-white);
    font-size: var(--size-normal);
    font-family: var(--font-group-3);
    box-shadow: 0 4px 10px 0 var(--font-color-black), 0 6px 20px 0 var(--font-color-black);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}
main > figure:nth-of-type(2) + section img {
    filter: drop-shadow(.5rem .5rem .5rem  var(--font-color-black)); 
}

main > figure:nth-of-type(2) + section > img {
    width: 100px;
    height: auto;
    margin: 3vh;
}

main > figure:last-of-type {
    background-image: url("../images/playTennis.jpg");
    height: 60vh; 
    background-position: top;
}