:root {
  /**Color Palette*/
  --font-color-white: #F2F3F4;
  --font-color-gray: #D6DBDF;
  --font-color-black: #1e1e1e;
  --font-color-mate: #212F3D;

  --primary-color: #206F19;
  --primary-color-ligth: #85FF66;
  --primary-color-deep: #0D371E;
  
  --neutro-color: #19606f ;
  --neutro-color-ligth: #C6D7DB;
  --neutro-color-deep: #194b6f;

  --secundary-color: #c0392b;
  --secundary-color-deep: #902b20;

  /**Font size*/
  /* --size-small: 16px;
  --size-medium: 18px;
  --size-normal: 24px;
  --size-large: 36px;
  --size-extra-large: 48px;
  --size-ultra-large: 64px; */

  --size-small: 1rem;
  --size-medium: 1.2rem;
  --size-normal: 1.4rem;
  --size-large: 2.2rem;
  --size-extra-large: 2.8rem;
  --size-ultra-large: 5.2rem;

  /**Font styles*/
  --font-group-1: Arial, Helvetica, sans-serif;
  --font-group-2: Georgia, 'Times New Roman', Times, serif;
  --font-group-3: Trebuchet MS, sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


