figure[aira-lable$="jugadores"] {
    background-image: url("../images/jugadoresImagen.jpg");
    min-height: 40vh; 
    background-attachment: fixed;
    background-position: center 40%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

figure[aira-lable$="jugadores"] > figcaption {
    padding: 2vh;
    font-size: var(--size-large);
    font-family: var(--font-group-3);
    color: var(--font-color-white);
    background: var(--font-color-mate);
    opacity: 0.9;
}

.btn-group, header section > button {
    margin: 0.8vh;
}

main.container > section:first-of-type {
    padding-top: 3.8rem;
    margin-top: -3.8rem;
    z-index: 1;
}

section > header {
    background: white;
    padding: 1rem;
    border-bottom: 1px solid var(--font-color-gray);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}

header > section:last-of-type {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}

header > section:last-of-type h5 {
    text-align: center;
    margin-bottom: 0;
}

section.row {
    margin: auto;
    text-align: center;
    padding: 1rem;;
}

