figure[aira-lable$="jugadores"] {
    background-image: url("../images/jugadoresImagen.jpg");
    /* Specific height */
    min-height: 40vh; 
    /* Parallax scrolling effect */
    background-attachment: fixed;
    background-position: center 40%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
}

figure[aira-lable$="jugadores"] > figcaption {
    margin: 0;
    padding-right: 1rem;
    font-family: var(--font-group-1);
    color: var(--font-color-white);
    font-style: oblique;
    opacity: 0.2;
}

main.container > section:first-of-type {
    padding-top: 3.8rem;
    margin-top: -3.8rem;
    z-index: 1;
}

section > header {
    background: white;
    padding: 1rem;
    border-bottom: 1px solid var(--font-color-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

section.row {
    margin: auto;
    text-align: center;
    padding: 1rem;;
}

