.loading{
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.restaurant_list_item{
    list-style: none;
    background-color: rgba(245, 193, 186, 0.678);
    margin: 10px 0;
    border: solid black;
    border-width: 1px;
    border-radius: 10px;  
    height: 150px;
}

.restaurant_list h2{
    padding: 0 12px;
    color: rgba(255, 0, 0, 0.521);
}
a:link{
    text-decoration: none;
    color: black;
}

.restaurant_name{
    font-weight: bold;
}

.restaurant_list{
    padding: 10px
}

.restaurant_info{
    float: left;
    width: 50%;
    padding: 10px;
}

.restaurant_image{ 
    float: left;
    width: 50%;
    height: 100%;
    border-radius: 10px;  
    background-size: contain;
}


