.anime-page {
    
    text-decoration: none;
    position: relative;
    
    &-wrapper {
        margin: 0 auto;
        color: blue;
        height: 95vh;
        background-color: orangered;
        width: 75%;
    }

    &-top { 
        
        height: 30%;
        background-image: linear-gradient($color-grey-dark-3 0%,
                                          $color-grey-dark-3 60%, 
                                          $color-primary-pink-3 60%,
                                          $color-primary-pink-3 80%,
                                          $color-grey-dark-3 80%
                                          );

        &__title {
            max-width: 94rem;
            font-size: 3rem;
            font-weight: 500;
            font-family: lato;
            position: absolute;
            text-transform: uppercase;
            text-align: left;
            letter-spacing: 0.3rem;
            top: 31%;
            left: 32%;
            color: $color-primary-pink;
        }
    }

    &-content {
        height: 70%;
        background-color: $color-grey-light-2;

        &-image {
            overflow: hidden;
            border-radius: 5px;
            position: absolute;
            left: 15%;
            top: 10%;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            transform: scale(1);
            transition: all .3s ease-out;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}