.footer {
    background-color: $color-grey-dark-3;
    color:orangered;
    padding: 4rem 0;
    font-family: lato;

    &-text {
        margin: 0 auto;
        width: 10%;
    }

}
.app-logo {
    padding-bottom: 1rem;
    width: 100px;
    animation-name: footerAnim;
    animation-duration: .3s;
    animation-timing-function: ease-out;
    transform: scale(1);
    transition: all .2s;

    &:hover {
        transform: scale(1.1);
    }

}