h1 {
    text-transform: uppercase;
    color: coral;
    text-align: center;
    font-family: fantasy;
    font-size: 75px;
}

button {
    position: relative;
    margin: auto;
    margin-bottom: 10px;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    display: block;
    background-color: #795f42;
    transition-duration: 0.4s;
    overflow: hidden;
}

button:after {
    content: "";
    background: #e8d8c7;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

p {
  text-transform: lowercase;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  color: #30261a;
}

p::first-letter {
  text-transform: uppercase;
}

.board {
    margin: auto;
    border: 10px solid;
    border-color: #614c35;
    border-radius: 5px;
    align-content: center;
    background-color: #000000;
    max-height: 210px;
    max-width: 210px;
    font-size: 0px;
}

div[class^="tile"] {
    height: 70px;
    width: 70px;
    border: 2px outset;
    font-size: 50px;
    text-align: center;
    font-family: monospace;
    background-color: #c2996b;
    display: inline-block;
    box-sizing: border-box;
}

div[class$="blank"] {
    border: 2px solid #000000;
    margin-top: -4px;
    background-color: #000000;
}
