.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  float: left;
}

.app-header {
  background: rgba(34,34,34,0.3);
  height: 80px;
  padding: 20px;
  color: white;
}

.app-header>h1 {
    font-size: 38px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
