.List {
  background: #e2e4e6;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

.list-header {
  flex: 0 0 auto;
  padding: 10px 8px 8px;
  position: relative;
  min-height: 20px;
  margin-bottom: 2px;
}

.list-content {
    flex: 1 1 auto;
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    z-index: 1;
    min-height: 0;
}

.list-element {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 #ccc;
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    max-width: 390px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.list-element:hover {
    background-color: #edeff0;
    border-bottom-color: #d6dadc;
}

.list-footer {
    border-radius: 0 0 3px 3px;
    color: #8c8c8c;
    display: block;
    flex: 0 0 auto;
    padding: 8px 10px;
    position: relative;
    text-decoration: none;
}

.list-footer:hover {
    color: black;
    background: #D5DBDB;
}

.input-task {
    overflow: hidden;
    word-wrap: break-word; 
    resize: none; 
    height: 54px;
    border: none;
    font-size: 12px;
    box-shadow: none;
    width: 100%;
    margin-bottom: 4px;
    max-height: 162px;
    min-height: 54px;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}

.addTask{
    background: #5aac44;
    box-shadow: 0 1px 0 #519839;
    color: #fff;
    transition: background .3s;
    float: left;
    font-family: inherit;
    font-size: inherit;
    min-height: 38px;
    border: none;
    padding: 4px 16px;
    vertical-align: top;
}

.close-addTask {
    color: gray;
    font-size: 24px;
    float: right;
    line-height: 2;
}

.delete-task{
    background-image: url(../images/trash.png);
    display: inline-block;
    border-radius: 3px;
    opacity: .5;
    padding: 4px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 10px;
    height: 15px;
    z-index: 40;
}

.delete-task:hover {
    opacity: .8;
}

.link-add{
    display:none;
}

.add-form{
    display:none;
}

.details {
    overflow: hidden;
    padding: 6px 8px 2px;
    position: relative;
    z-index: 10;
}

h2 {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 8px;
}
