.g-form-reg
{
    width:600px;
    margin-top:20px;
}
.g-form-reg1
{
    width:600px;
    margin-top:120px;
}

.form-group-reg
{
width:50%;
float:left;
}
.form-group-reg-all
{
width:100%;
float:left;
}


.margin-bottom
{
margin-bottom:14px;
}
.form-group-reg-med
{
width:75%;
float:left;
}
.form-group-reg-cua
{
    margin: 40 px;
    padding-top:40px;
width:25%;
float:left;
}
.form-group-reg-cua button
{
    width:100%;
    margin-left:0px
}

.custom-control-input
{
    width:25%;
    float:left
}
.custom-control-label
{
    width:75%;
    float:left;
    text-align: left;
    color:#1abc9c;
}
.custom-radio
{
border: 1px solid rgba(100,100,100,0.3);
padding:5px;
float:left;
width:100%;
border-radius: 3px;
}


@media only screen and (max-width: 600px) {
.form-group-reg
{
     width:100%;
}
.g-form-reg1
{
   
    margin-top:620px;
}
}


    