.g-form-tip
{
    width:600px;
    margin-top:60px;
}

.g-form-tip img
{
max-height: 200px;
padding: 10px;
margin-top:20px;
}

.target-green
{
    cursor:pointer;
     cursor: hand;
    background-color: #28a745!important;
    color: #fff!important;
    height:300px;
    float: left;
    width:42%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-left:40px;
    margin-top:40px;
    -webkit-box-shadow: 10px 10px 16px -1px rgba(0,0,0,0.56);
-moz-box-shadow: 10px 10px 16px -1px rgba(0,0,0,0.56);
box-shadow: 10px 10px 16px -1px rgba(0,0,0,0.56);
}



.target-yellow
{
    cursor:pointer;
    cursor: hand;
    background-color: #ffc107!important;
    color: #fff!important;
    height:300px;
    float: left;
    width:42%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-top:40px;
    margin-left:40px;
    -webkit-box-shadow: 10px 10px 16px -1px rgba(0,0,0,0.56);
-moz-box-shadow: 10px 10px 16px -1px rgba(0,0,0,0.56);
box-shadow: 10px 10px 16px -1px rgba(0,0,0,0.56);
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

@media only screen and (max-width: 600px) {
    .target-green
    {
        width:90%;
        margin-top:50px;
    }
    .target-yellow
    {
        width:90%;
        margin-top:50px;
    }

    .g-form-tip
{
    width:600px;
    margin-top:120px;
}
}