body{
    background: linear-gradient(to right,orange,red);
    }
    
    .container{
    margin: 4px;
    font-size: 200%;
    width:385px; 
    text-align: right;
    }
    .principalContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    }
    #equalButton{
    box-sizing: border-box;
    height: 155px;
    width: 100%;
    font-size: 200%;
    border: none;
    background: #FF7000;
    }
    .getButton{
    width: 75px;
    height: 75px;
    font-size: 200%;
    border: none;
    background: #FF7000;
    }