*{
    margin: 0%;
    padding: 0%;
}
body{
    background: #100a1c;
    background-image:
    radial-gradient(50% 30% ellipse at center top, #201e40 0%, #100a1c 100%);
    background-attachment: fixed;
}

.container {
    background-color: #000C31;
    position:absolute;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-height: 400px;
    width: 300px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 35px 35px 35px 35px;
    box-shadow: 20px 15px #192346;
}
.container .showbox{
    text-align: right;
    background-color: #192346;
    color:wheat;
    height: 70px;
    width: 260px;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    font-size: 25px;
    border: none;
}
.getButton{
    height: 65px;
    width: 65px;
    font-size: 20px;
    text-align: center;
    background-color: #182244;
    color: wheat;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    margin: 5px 0px;
}
.getButton:active{
    background-color: #28346d;
    transform: translateY(1px);
}
.clear{
    border-radius: 20px 20px;
    width: 130px;
    background-color: #CC3345; 
}
.operation{
    background-color:#3C4460;
}
.clear1{
    background-color: #CC3345;
}
.equal{
    background-color: #F5A623;
}
