table {
    width: 100%;
    word-break: break-word;
}

table, thead, tbody, tr, td, th {
    font-family: 'Pt Mono', monospace;
    font-size: 13px;
    border: 1px solid #9d9e9e;
    box-sizing: content-box;
    border-collapse: collapse;
    text-align: center;
    padding: 0.2em 0.5em;
}

thead {
    background: #f0f0f0;
}

tbody tr:nth-child(even) {
    background: #f0f0f0;
}

tbody tr:nth-child(odd) {
    background: #ffffff;
}

tbody tr:hover {
    background: #eeffee;
    cursor: pointer;
}