h1, main, aside {
    color: blue;
    text-align: center;
    font-family: cursive;
}
.box {
    float: left;
    width: 30px;
    height: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 5px;
}

#puzzle {
    margin-left: 30%;
    color: green;
}

