.form-container{
    margin: 150px 300px 0 300px;
    padding-right: 15px;
    padding-left: 15px;      
}

.form-container div:nth-child(2){
    text-align: center;
}

.form-container div:nth-child(2) .form{
    margin: 0px 390px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
}

.form button:only-child{
    width: 350px;
    background: #e50914;    
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    color: white;
}