.navbar {
  display: flex;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 40px;
  width: 100%;
}

.navbar .app-logo > img{
  width: 151px;
  height: 41px;
  margin-right: 10px;
}

.navbar .nav{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 10px;
}

.navbar .nav .item{
  list-style: none;
  padding: 7px 10px;
  font-size: 14px;
  transition: 0.5s ease;
}

.navbar .nav .item:hover {
  color: #928f8f;
}

.navbar .right-nav{
  margin-left: auto;
}