
.main-movie{
    background-image: url('../death-note.jpg');
    background-size: cover;
    width: 100%;
    min-height: 800px;
    margin-bottom: -10%;
}

.main-movie .main-movie-content{
    position: relative;
    width: 700px;
    left: 2vw;
    top: 10vw;
}

.main-movie .main-movie-content .main-movie-logo{
    display: block;
    position: relative;
    left: -5px;
    max-width: 400px;
}

.main-movie .main-movie-content .main-movie-buttons-container .btn-play{
    background-color: rgba(51,51,51,.4);    
    margin-right: 20px;
}

.main-movie .main-movie-content .main-movie-buttons-container .btn-play:hover{
    background-color: rgb(228, 228, 228);
    color: black;
}

.main-movie .main-movie-content .main-movie-synopsis{
    margin-top: 50px;
    font-size: 1.2vw;
}