.main-magazine {
    margin: auto;
    width: 900px;
    height: 900px;
    background:linear-gradient(rgba(35, 36, 99, 0.150),rgba(35, 36, 99, 0.150)),url('../img/fondo2.jpg');
    background-size: cover;  
}

.magazine-title {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;

}
.magazine-title .main-title{
    margin-top: -110px;
    margin-bottom: 50px;
    display: block;
    text-align: center;
    font-size: 100px;
    color: rgb(255, 0, 0); 
}
.magazine-title .main-date{
    position: relative;
    top: -50px;
    left: 725px;
    font-size: 15px;
}
.magazine-title .main-name{
    font-size: 35px;
    margin: 0;
    position: relative;
    left: 215px;
    top: 10px;
}

.left-coverline{
    float: left;
    color: rgb(255, 255, 255); 
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-left: 10px;
}  
.first-left-coverline p {
    margin: 0;
    line-height: 1;
    font-size: 50px;
} 
.first-left-coverline .main-span , .second-left-coverline span , .thrid-left-coverline span , .first-right-coverline span , .second-right-coverline span, .thrid-right-coverline .main-span{
    display: block;
    margin: 0;  
} 
.first-left-coverline .text-plan{
    text-transform: lowercase;
    font-family: 'Gloria Hallelujah', cursive;
    color: rgb(255, 255, 0);
    font-size: 30px; 
}
.first-left-coverline  .text-number{
    color: rgb(255, 255, 0);
    font-size: 100px;
}

.second-left-coverline , .thrid-left-coverline  {
    margin-top: 50px;
}

.second-left-coverline p , .thrid-left-coverline p {
    margin: 0;
    line-height: 1;
    font-size: 30px;
}

.thrid-left-coverline .thrid-text {
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 30px;
}

.footer-left-coverline h2{
    margin:10px 30px;
    padding:0;
    line-height: 1;
    font-size: 70px;
    font-weight: bold;
    color: yellow;
    text-align: right;
}

.right-coverline {
    float: right;
    text-align: right;
    margin-right: 10px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.advertising-sticker p , .first-right-coverline p ,.second-right-coverline p , .thrid-right-coverline p{
    margin:0;
    padding:0;
    line-height: 1;
}

.advertising-sticker {
    width: 200px;
    height: 120px;
    background: rgb(255, 255, 255);
    border:1px solid rgb(0, 0, 0);
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold; 
    text-align: center;
}
.advertising-sticker .info{
    padding: 15px;
}
.advertising-sticker .advertising-sticker-text-2 {
    font-size: 20px;
    font-weight: bold; 
    color: rgb(233, 23, 23);
}
.first-right-coverline , .second-right-coverline  {
    margin-top: 50px;
    color: rgb(255, 255, 255);
}
.first-right-coverline .main-title-firstRC{
    font-size: 40px;
}
.first-right-coverline .secondary-text-firstRC{
    font-size: 25px;
}

.second-right-coverline .main-title-secondRC{
    color: rgb(250, 250, 43);
    font-size: 20px;
}
.second-right-coverline .secondary-text-secondRC {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 60px;
    text-transform: lowercase;
}

.thrid-right-coverline .plus-sign-thridRC{
    color: rgb(255, 28, 28);
    font-size: 50px;
    font-weight: bold;
    height: 35px; 
}
.thrid-right-coverline .main-text-thridRC{
    font-size: 25px;
}
.thrid-right-coverline .secondary-text-thridRC{
    color: rgb(255, 28, 28);
    font-weight: bold;
    font-size: 20px;
}
.thrid-right-coverline .secondary-text-thridRC .number-thridRC {
    font-size: 30px; 
}