.Game {
    background-color: rgb(90, 111, 156);
}

.title {
    text-align: center;
    font-family: Raleway, sans-serif;
    color: rgb(138, 226, 241);
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 35px;
    font-weight: bold;
}

.btn.new-game {
    margin-left: 33%;
    width: 33%;
    margin-bottom: 20px;
}

.Taquin_container {
    padding-left: 0%;
    padding-top: 15px;
    margin-left: 32.5%;
    margin-bottom: 10px;
    width: 35%;
    border-width: 1.5px;
    border-style: solid;
    border-color: rgb(138, 226, 241);
    border-image: initial;
    border-radius: 20px;
    overflow: hidden;
}

.Taquin_element {
    list-style-type: none;
    width: 150px;
    height: 150px;
    float: left;
    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 52px;
    margin-left: 17px;
    margin-bottom: 17px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    border-radius: 10px;
    background: green;
}

.Taquin_element.blank {
    visibility: hidden;
}