body {
    text-transform: uppercase;
    background-color: rgb(24, 24, 24);
}

main { 
    min-height: 735px;
}

.container-1 {
    min-height: 1000px;
    width: 790px;
    background-image: url(../assets/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.main-header p:first-of-type {
    margin-bottom: 0;
}

.main-header h1 {
    font-size: 130px;
    margin: 0;
}

.main-header p:last-of-type {
    margin-top: 0px;
    margin-bottom: 40px;
    padding-right: 10px;
    width: calc(100% - 10px);
    font-size: 28px;
    line-height: 0;
    text-align: right;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

/* ------------------- LEFT-SIDE -------------------------*/

article.container-2 {
    display: flex;
    font-family: 'Playfair Display SC', serif ;
}

article.container-2:first-child {
    margin: 15px;
    justify-content: space-between;
}

.left-container > .item-1 h2 {
    margin: 0;
}

.left-container > .item-1 h2 strong:first-child {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 5px;
}

.left-container > .item-1 h2 strong:last-child {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 3px;
    
}

.left-container > .item-1 h2 p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 18px;
    margin: 0;
}

.left-container > .item-1 > i {
    font-weight: 700;
}

.left-container > .item-1 > i > span{
    font-weight: 300;
    font-size: 18px;
    text-transform: initial;
    font-family: 'Times New Roman', Times, serif;
}

.left-container > .item-2 > h2 {
    margin: 0;
}

.left-container > .item-2 > h2 > strong:first-child {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
}

.left-container > .item-2 > h2 > strong:nth-child(3) {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
}

.left-container > .item-2 > h3 {
    margin: 0;
}

.left-container > .item-2 > h3 > i > span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
    font-family: 'Times New Roman', Times, serif;
}

.left-container > .item-2 > h3 > i {
    font-size: 10px;
    letter-spacing: 1px;
}

.left-container > .item-2 > p {
    margin: 0;
    font-size: 13px;
    font-style: italic;
    text-transform: initial;
    font-family: 'Times New Roman', Times, serif;
    
    
}
/* -------------------- RIGHT-SIDE ------------------------*/

.right-container {
    text-align: right;
}

.right-container > h2 {
    font-size: 27px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    margin: 0;
}

.right-container > h3 {
   margin: 0;
} 

.right-container > h3 > span:first-child {
    font-size: 18px;
    font-weight: 400;
}

.right-container > h3 > span:first-child > i{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    text-transform: initial;
    
}

.right-container > h3 > span:last-child {
    font-size: 24px;
    font-weight: 400;
}

/* ------------------- DOWN-SIDE -------------------------*/

article.container-2:last-child {
    min-height: 380px;
    justify-content: center;
    align-items: flex-end;
}

article.container-2:last-child > section {
    color: #fff;
    
}

article.container-2:last-child > section > h2 {
    font-size: 34px;
    font-weight: normal;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-transform: initial;
    letter-spacing: 2px;    
    margin: 0;
}

article.container-2:last-child > section > h3 {
    font-size: 78px;
    font-weight: normal;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;  
    line-height: 55px; 
    margin: 0; 
}

article.container-2:last-child > section > p {
    margin: 0;
}

article.container-2:last-child > section > p:first-of-type {
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 2px;  
}
article.container-2:last-child > section > p:nth-of-type(2) {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 2px;  
    text-align: right;
}

article.container-2:last-child > section > p:last-of-type {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    text-transform: initial;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;  
    text-align: center;
    margin-top: 10px;
}

/* --------------------------------------------*/

@media screen and (min-width: 800px) {
    .container-1 {
        margin-left: auto;
        margin-right: auto;
    }
}