html {
    background: #d2e2e9;
}
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 5em 0 2em;
    text-align: center;
}
h1 {
    font-weight: 300;
  }

  .calculator {
    font-size: 28px;
    margin: 3em auto;
    width: 10em;
  }

  .viewer {
    color: #0a0a0a;
    float: left;
    line-height: 3em;
    text-align: right;
    width: 7.5em;
    height: 3em;
  }

  button {
    border: 0;
    background: rgba(226, 17, 17, 0.28);
    color: #0a0a0a;
    cursor: pointer;
    float: left;
    font: inherit;
    margin: 0.25em;
    width: 2em;
    height: 2em;
  }