/* --- general styles --- */

body {
    background-image: url(https://images.unsplash.com/photo-1502657877623-f66bf489d236?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.center__element {
    text-align: center;
}

/* --- header section --- */

.header__section--style {
    background-color: rgba(0,0,0,0.6);
    border-radius: 20px;
    height: 140px;
    margin: 20px;
    width: 50%;
}

/* --- info section --- */

.main__section__form--align {
    align-items: center;
    display: flex;
    flex-flow: column;
}

.main__section--info {
    background-color: rgba(0,0,0,0.6);
    border-radius: 20px;
    margin: 20px;
    width: 50%;
}

/* --- user data --- */

ul {
    list-style-type: none;
}

li {
    margin: 10px;
}

label {
    margin-right: 20px;
}

.main__section--data {
    background-color: black;
    border-radius: 5px;
    border: none;
    height: 24px;
    width: 300px;
}

/* --- feed back request --- */

.main__section__feedback--align {
    display: flex;
    flex-flow: column;
    margin: 30px;
}

.main__section__feedback--box {
    background-color: black;
    border-radius: 4px;
    color: white;
    font-style: italic;
    padding: 10px;
}

.main__section__feedback--margin {
    margin: 10px 0;
}

/* --- question --- */

.main__section__question--style {
    background-color: black;
    color: white;
}

/* --- Check-box --- */

.main__section__check--style {
    margin: 20px;
}

/* --- button --- */

.main__section__button--style {
    background-color: #7285A5;
    border-radius: 10px;
    border: none;
    color: white;
    height: 30px;
    margin-bottom: 20px;
    width: 100px;
}

/* --- footer --- */

.footer--style {
    color: #7285A5;
    font-size: 10px;
    font-style: italic;
}