@font-face{
    font-family: 'steelfish';
    src: url(Fonts/steelfish\ rg.ttf);
    font-family: "Cabin";
    src:url(Fonts/CabinCondensed-Regular.ttf);

}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    font-family: steelfish;
    font-size: 16px;
    margin:auto;
    padding: 0% 33%;
    background:  rgb(39, 39, 39);
}

.Main-box{
    background: rgb(255,211,2);
    padding: 6%;
    height: 100vh;
}

.Magazine-body{
    background-image: url(CoverImg2.png);
    background-size: cover;
    height: 100%;
    position: relative;
}

.National-box{
    font-family: 'Libre Baskerville', serif;
    position: absolute;
    top: 4%;
    left: 50%;
    font-size: 3em;
    font-weight: 100;
    color: #201E1F;
    letter-spacing: -2px;
    line-height: 90%;
    transform:  translate(-50%,0%);
}

.National-box .National-top{
    display: block;
    text-align: center;
}

.Titulo{
    position: absolute;
    top: 35%;
    right: 5%;
    font-size: 6em;
    font-weight: 100;
    text-align: right;
    color: white;
    letter-spacing: 7px;
    line-height: 95%;
    transform: scale(1,1.2);
}

.Side-note{
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 60%;
    right: 5.5%;
    text-align: right;
    color: white;
    letter-spacing: 1px;
    line-height: 120%;
    transform: scale(1,1.3);
}

.Side-note .Side-bold{
    font-weight: bolder;
}

.Side-note .Side-normal{
    font-size: 0.95em;
    font-weight: lighter;
    letter-spacing: 0px;
}

.Cite-note{
    font-family: Cabin;
    position: absolute;
    top: 72.5%;
    left: 2.5%;
    font-size: 0.6em;
    text-align: center;
    color: white;
    font-style: italic;
    transform: scale(1,0.95);
}

.Cite-note .Cite-quote{
    display: block;
    letter-spacing: 1px;
    margin: 5px;
}

.Cite-note .Cite-cite{
    display: block;
    font-size: 1.1em;
    letter-spacing: 1.5px;
    font-style: normal;
}

.Over-line{
    position: absolute;
    left: -4%;
    bottom: 16.5%;
    height: 2px;
    width: 23%;
    background: #D5007D;
}

.Over-arrow{
    position: absolute;
    top: 39%;
    right: 0%;
    right: -26px;
    height: 12px;
    width: 26px;
    background: #D5007D;
    clip-path: polygon(100% 0, 100% 100%, 0 50%);
}