@import url("https://fonts.googleapis.com/css?family=Merriweather:100,300,400");

body {
  font-family: "Merriweather", serif;
  letter-spacing: 0.03em;
  line-height: 2em;
  font-size: $default-font-size;
  color: $color-text;
}

.primary-heading {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  color: $color-primary;
  font-size: 1.6rem;
  letter-spacing: 0.1em;
}

.secondary-heading {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}

.tertiary-heading {
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  color: $color-text;
  line-height: 1.5em;
}

.subtitle {
  text-transform: capitalize;
}

.author-name {
  color: $color-primary;
  font-weight: 100;
  font-size: 1rem;
  font-style: italic;
}
