.HeaderRow {
    background-color: #2A94D6;
}
.TableRow {
    background-color: #F0F1F2;
}
.OddTableRow {
    background-color: #F0F1F2;
}
.SelectedTableRow {
    font-size: 20px;
    font-weight:bold;
}
.HoverTableRow {
    background: #ccc;
}
.HeaderCell {
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px !important;
    border: solid 1px #FFFFFF;
}
.TableCell {
    font-size: 16px;
    padding: 10px !important;
    border: solid 1px #FFFFFF;
}
.RowNumberCell {
    text-align: center;
}
