#container {
    background: #BDAE9C;
    width: 55%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-radius: 0.3em;
    border: 0.3em solid #BDAE9C;
}

#container div {
    background: #EDC642;
    width: 22%;
    margin: 5px;
    text-align: center;
    padding: 15px 0 15px 0px;
    font-size: 7em;
    color: white;
    border: 1px solid #F2DC9E;
    border-radius: 3px;
    cursor: pointer;
}

#container .space {
    background: #CCBFB3;
    border: 1px solid #CCBFB3;
    cursor: default;
}


/* Animation */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}