.App {
  text-align: center;
  max-width: 600px;
}

.todo-header {
  background-color: #006edb;
  font-size: 30pt;
  padding: 14px;
  border-radius: 20px;
}

.todo-controls {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.todo-new-task-input {
  border-radius: 8px;
  border: none;
  background-color: #e8f0f8;
  transition: all 0.4s ease-in-out;
  padding-left: 10px;
}

.todo-new-task-input:hover {
  box-shadow: 2px 1px #c5c0c0;
  background-color: #f0f8f8;
}

.todo-add-button {
  background-color: #e8f0f8;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  box-shadow: 2px 1px #c5c0c0;
  transition: all 0.3s ease-in-out;
  padding: 8px;
}

.todo-add-button:hover {
  box-shadow: 2px 1px #c5c0c0;
  background-color: #f0f8f8;
}

.todo-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  font-size: 14pt;
}

.todo-list-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 0px;
  padding: 0px;
  margin: 0px;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.todo-list-item:hover {
  box-shadow: 4px 2px 1px 1px #e4e1e1;
}

.todo-list-item-check {
  border: 8px solid #f0f8f8;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 34px;
  height: 34px;
  margin: 0px;
  padding: 0px;
  transition: all 0.3s linear;
}

.todo-list-item-check:hover {
  border: 8px solid #f0f8f8;
}
.todo-list-item-check:checked {
  background-color: #006edb;
}

.todo-list-item-text {
  margin: 0px;
  padding-top: 6px;
  padding-left: 12px;
  background-color: #f0f8f8;
  height: 30px;
  transition: all 0.3s linear;
}

.todo-list-item-text.todo-list-item-checked {
  font-style: italic;
  text-decoration: line-through;
}

.todo-list-item-close {
  height: 38px;
  width: 30px;
  background-color: #444;
  color: #d9e2eb;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.todo-list-item-close:hover {
  font-weight: bold;
  color: #fff;
  background-color: #000;
}

.todo-list-item-close.todo-list-item-checked {
  color: #ee8383;
  font-weight: bold;
}

.todo-list-item-close.todo-list-item-checked:hover {
  color: #eb1414;
}





