* {
    font-family: 'Gugi', cursive;
}

html, body {
    height:100%;
    background-color: #d7f5d0;
}

button {
    background-color: #ffdaab;
    color: #452252;
    border: none;
    width: 60px;
    height: 60px;
    font-size: xx-large;
    margin: 5px;
    padding: 1px 0px;
}

#calculator {
    background-color: #639058;
    padding: 5px;
    margin: auto;
    position: relative;
    text-align: center;
    width: 295px;
}

#steps {
    white-space: pre-wrap;
    color: #452252;
}

#screen {
    color: #452252;
    width: 200px;
    height: 60px;
    font-size: xx-large;
    text-align: end;
    border: none;
    margin: 5px;
    padding: 1px 5px;
}
