body{
	text-align: center;
	font-variant:small-caps;
}

#footer{
	margin-left: auto ;
	margin-right: auto ;
	width:700px;

}

h1{
	font-size: 4em;
	margin-top: 1px;
	margin-bottom: 55px;
}

#instuctions{
	font-variant:normal;
	font-size: 90%;
}

#links{
	font-variant: normal;
}
#box {
	background-color: black;
	position: absolute;
	border: solid rgb(105, 7, 7) 40px;
	margin-left: 25%;
	padding-bottom: 10%;
}



#chart > h1 {
	color:rgb(105, 7, 7);
}
#chart > p {
	font-size: 2em;
	font-family: 'Oswald', sans-serif;
}
p, h2{
	color: aliceblue;
}

.h1 {
	position: relative;
	float: left;
	width: 240px;
	text-align: left;
	margin-left: 23px;
}

.h2 {
	position: relative;
	text-align: right;
	margin-right: 23px;
	font-family: 'Merriweather', serif; 
}
.h1 > h2{
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	color: rgb(226, 226, 9);
	padding-bottom: 0.001px;
}
.h1 > p{
	text-transform: lowercase;
	font-family: 'Merriweather', serif; 
}
.h2 > h2{
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	color: rgb(226, 226, 9);
	padding-bottom: 0.001px;
}
#text {
	color: white;
	font-family: 'Merriweather', serif;
	float: right;
}
#text > p {
	font-size: 1px;
}
#text > h2, h3, h4 {
	color: yellow;
}