.container {
    width: 310px;
}

.container > div:first-child {
    display: flex;
    width: calc(100% - 2px);
    min-height: 100px;
    border: solid 1px rgb(226, 226, 226);
}

.container > div:first-child > span {
    font-size: 50px;
}

.container > div:last-child {
    display: flex;
    width: 100%;
    max-height: 320px;
}

button {
    color: #fff;
    border: none;
    outline-style: none;
    font-size: 14px;
    transition: .2s ease-in-out;
}

.num-container {
    display: flex;
    flex-wrap: wrap;
}

.num-container > button {
    width: 80px;
    height: 80px;
    background-color: rgb(63, 63, 63);
}

.op-container {
    display: flex;
    flex-direction: column;
}

.op-container > button {
    width: 70px;
    height: calc(100% / 5);
    background-color: rgb(107, 107, 107);
}

.num-container > button:hover {
    background-color: rgb(53, 53, 53);
}

.op-container > button:hover {
    background-color: rgb(97, 97, 97);
}
