/*************************************************
*
*   Magazine Cover Colors
*   
*       
*   lorde title        : #eb1e25
*
*************************************************/

/*-----------------------------------------------
*   Base
-----------------------------------------------*/

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-size: 16px;
}

header > h1 {
  display: none;
}

/*-----------------------------------------------
*   General Styles & Position 
-----------------------------------------------*/

.logo,
.lorde,
.headlines {
  position: absolute;
}

.logo {
  z-index: 1;
}

.lorde {
  z-index: 10;
}

.headlines {
  z-index: 100;
}

img {
  height: auto;
  object-fit: cover;
  width: 100%;
}

.headlines > p,
.headlines > h2,
.rect,
svg {
  padding-left: 0.5em;
}

/*-----------------------------------------------
*   Container & Wrapper
-----------------------------------------------*/

.wrapper {
  background-color: white;
  margin: 0 auto;
  position: relative;
}

.container,
.lorde,
.wrapper {
  height: 100vh;
  max-width: 37vw;
}

/*-----------------------------------------------
*   Text Style
-----------------------------------------------*/

.highlight {
  color: #eb1e25;
}

.headlines {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
}

.headlines > :first-child {
  font-size: 10em;
  order: 2;
  padding-left: 0.1em;
  text-shadow: 0.0625em 0.125em 0.75em black;
}

.headlines > p:first-of-type {
  font-size: 1.6em;
  order: 1;
  text-transform: capitalize;
}

.headlines > p,
.headlines > h2 {
  position: relative;
  font-weight: 700;
  margin: 0;
  width: 4.7em;
}

.uppercase {
  text-transform: uppercase;
}

/*-----------------------------------------------
*   Font Family & Font Size 
-----------------------------------------------*/

.serif {
  font-family: "Playfair Display", serif;
}

.san-serif {
  font-family: "Sarala", sans-serif;
}

.font-size-1 {
  font-size: 1.8em;
  line-height: 0.8em;
}

.font-size-2 {
  font-size: 1em;
}

.font-size-3 {
  font-size: 0.9em;
  font-weight: 400;
}

.headlines :nth-child(3) {
  font-size: 3em;
}

.headlines :nth-child(4) {
  width: 11em;
}

.headlines :nth-child(7) {
  font-weight: 700;
}

/*-----------------------------------------------
*   Aside
-----------------------------------------------*/

.headlines > aside {
  background-color: black;
  border-bottom: 0.25em solid #e2e2e4;
  border-left: 0.25em solid #e2e2e4;
  border-top: 0.25em solid #e2e2e4;
  bottom: 34%;
  box-shadow: 0.0625em 0.0625em 2em black;
  color: white;
  height: 13%;
  left: 84%;
  line-height: 1em;
  position: absolute;
  width: 16%;
  z-index: 101;
}

aside > h2 {
  background-color: red;
  font-size: 0.7em;
  margin: 0.5em;
  padding-left: 0.5em;
}

aside > p {
  font-size: 1.12em;
  font-weight: 700;
  margin: 0;
  padding-left: 0.5em;
}
