.tracks {
  flex: 1 1 auto;
  height: 100%;
  padding: 0;
  overflow-y: auto;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
  /* 
  justify-content: space-around; */
  /* margin: 2rem 0 2rem 0; */
}

.track {
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: flex-end;
}

.track > p {
  margin: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  flex: 1 1 auto;
}

.track > h3 {
  margin-right: 1em;
  flex: 1000 0 auto;
}
