.tracks {
  flex: 1 1 auto;
  height: 100%;
  padding: 0;
  overflow-y: auto;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
  user-select: none;
  /* 
  justify-content: space-around; */
  /* margin: 2rem 0 2rem 0; */
}

.track {
  flex-direction: column;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  background: rgba(0, 0, 0, 0);
  transition: background-color 0.25s;
  padding: 1rem;
  cursor: pointer;
}

.track:not(.disabled):hover {
  background: rgba(0, 0, 0, 0.75);
}

.track.disabled {
  cursor: default;
  color: #aaa;
}

.track > * {
  margin-top: 0;
  margin-bottom: 0;
}

.track > h1 {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 2 1 auto;
  max-width: 100%;
}
.track > h2 {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  text-align: right;
  flex: 1 2 auto;
  max-width: 100%;
}
.track > p {
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  flex: 0 0 auto;
  max-width: 100%;
}

@media (min-width: 640px) {
  .track {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .track > * {
    margin-left: 1rem;
  }
  .track > *:first-child {
    margin-left: 0;
  }
}
