/* --- color pantone ---

    - orange: #d24a30
    - blue:   #c3dff5
    - black:  #070707
    - white:  #ffffff

        --- ---- ---  */

/* --- magazine cover general --- */

body {
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

.text__uppercase {
    text-transform: uppercase;
}

.color__orange {
    color: #d24a30;
}

/* --- magazine background --- */

.background {
    background-image: url(https://hips.hearstapps.com/esq.h-cdn.co/assets/16/01/1452206724-trump-cold-open.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    margin: 0 auto;
    width: 70%;
}

/* --- magazine header --- */

.section__header--style {
    font-family: 'Pacifico', cursive;
    font-size: 124px;
    position: absolute;
    z-index: 2;
}

.section__header--position {
    margin: 50px;
}

/* --- magazine top header --- */

.section__topheader--style {
    border: solid 6px;
    display: flex;
    justify-content: space-around;
    left: 40px;
    position: relative;
    top: 20px;
    width: 90%;
}

.section__topheader--tittle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
}

.section__topheader--info {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration-line: underline;
    width: 38%;
}

/* --- magazine sub header --- */

.section__subheader--info {
    font-size: 12px;
    margin-left: 40px;
    position: relative;
    text-transform: uppercase;
    top: 194px;
}

.section__subheader--date {
    font-size: 12px;
    margin-left: 808px;
    position: relative;
    text-transform: uppercase;
    top: 168px;
}

.section__subheader--tittle {
    font-size:110px;
    font-weight: bold;
    margin: 80px 34px;
    position: relative;
    text-transform: uppercase;
    top: 80px;
    z-index: 3;
}

.section__subheader--append {
    font-size: 10px;
    margin-left: 42px;
    position: relative;
    text-transform: capitalize;
    top: -10px;
    width: 13%;
}

/* --- magazine content --- */

.section__content--tittle {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    margin: 0;
    text-transform: uppercase;
}

.section__content--subtittle {
    margin: 0;
    font-family: 'Oranienbaum', serif;
    text-transform: uppercase;
    width: 10%;
}

.section__content--page {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.section__content--capital {
    text-transform: capitalize;
}

.section__content--plus {
    font-size: 20px;
    margin: 0;
    text-transform: capitalize;
}

.section__content--opttittle {
    color: #c3dff5;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

/* content position */

.section__content__position--first {
    left: 40px;
    position: relative;
    top: 230px;
}

.section__content__position--second {
    left: 40px;
    position: relative;
    top: 240px;
}

.section__content__position--thrid {
    left: 40px;
    position: relative;
    top: 254px;
}

.section__content__position--four {
    left: 780px;
    position: relative;
    top: -138px;
}


/* codebar */

.section__content--barcode {
    position: relative;
    left: 780px;
    width: 100%;
}

.section__content__barcode--img {
    width: 16%;
}
