.food_list{
    padding: 0px;
}

.food_list_item{
    display: inline-block;
    margin: 10px;
}

.food_card{
    width: 150px;
    height: 250px;
}

.food_image{
    width: 100%;
    height: 100px;
}