.airport-selected {
    margin: 5% auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    width: 623px;
    height: 333px;
    border: 2px solid rgb(25, 158, 218);
    background-image: url("./../../images/airport.jpg");
}

.airport-selected h2 {
    margin-top: 3%;
    font-size: 40px;
    text-shadow: 2px 2px white;
}

.airport-selected p {
    font-size: 25px;
    color: white;
    background-color: rgba(169,169,169);
}

.airport-selected span {
    display: block;
}

.airport-selected button {
    margin-top: 15px;
    background-color: rgb(239, 228, 14);
    color: black;
}

.btn-arrivals {
    width: 150px;
    font-size: 20px;
    border-radius: 25px;
}

.btn-departures {
    margin-left: 20px;
    width: 150px;
    font-size: 20px;
    border-radius: 25px;
    color: black;
}