.countrylist-container  {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.countrylist-container h2 {
    margin-top: 30px;
    font-size: 30px;
}
.countrylist-container select {
    width: 200px;
    height: 50px;
    font-size: 20px;
}

.countrylist-container button {
    display: block;
    margin: 30px auto;
    background-color: rgb(25, 158, 218);
    color: white;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    font-size: 20px;
}

.countrylist-container p {
    font-size: 30px;
}
