.airports-container {
    margin-top: 50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.airports-container p {
    font-size: 30px;
}

.airports-container select {
    width: 200px;
    height: 50px;
    font-size: 20px;
}
