
/* LAYOUT SECTION */

body {
    font-family: 'Open Sans', 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: white;
    line-height: 0.9;
    font-size:14.5px;
    position: relative;
}
.magazineBody {
    background-image: url('../img/paul_rudd_cover_photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 615px;
    margin-left: auto;
    margin-right: auto; 
}
.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.leftSideSection {
    margin-top: 5%;
    margin-left: 2%;
    max-width: 26%;   
}
.rightSideSection {
    margin-top: 5%;
    margin-right:2%;
    text-align: right;
    width: 29%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* HEADINGS SECTION */

h1 {
    color: white;
    font-size: 5em;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    margin-top: 2%;
    padding-top: 3%;
    margin-bottom: 18px;   
}
h2, h3, h4 {
    box-sizing: content-box;
    margin-top: 1px;
    margin-bottom: 2px;  
}
h2#mainSubtitle {
    font-size: 4.1em;
    text-decoration: underline #FADC04;
    letter-spacing: 3px;
    align-self: flex-end; 
}
h3 {
    font-size: 3.8em;
    color: #FADC04;
}
h4 {
    font-size: 1.5em;
}
h4 span {
    font-size: 1.3em;
    color: #FADC04;
    align-self: flex-end;
}
h4 strong {
    font-weight: bold;
}
h4 strong:first-of-type {
    font-size: 2.5em;
    color: #FADC04;
}
h4.diffColor {
    font-size: 1.2em;
    color: black;
    margin-top: 6%;
}
h4#diffMargin {
    margin-left: 20%;
    text-align: right;
    margin-bottom: 24%;
}
.light {
    font-weight: lighter;
}
.capitalize span {
    text-transform: capitalize;
}

/* GRAPIC ELEMENTS*/

.divisorLeftSide {
    width: 20%;
    border-top: 4px solid #FADC04;
    border-radius: 5px;
    margin-left: 0;
}
#divisorRightSide {
    width: 18%;
    border-top: 4px solid #FADC04;
    border-radius: 5px;
    margin-right: 0;
    align-self: flex-end;
}