$color-primary-pink: #EE3124;
$color-primary-pink-2: #F7A19B;
$color-primary-pink-3: #EF4337;

$color-blue-1: #3E92BC;
$color-green-1: #5EBA51; 
$color-red-1: #E86E6E;
$color-purple-1: #57597F;

$color-grey-dark: #777;
$color-grey-dark-2:#999;
$color-grey-dark-3: #333;

$color-grey-light: #efefef;
$color-grey-light-2: #dbdbdb;

$color-black: #000000;
$color-white: #ffffff;
$color-black-light: #020100;
$color-white-light: #FDFFFC;