h1{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: left;
  color: #034f84;
}

.calculator{
  font-size: 100px;
  margin: 10px;
  border: 5px solid;
  width: 800px;
  background-color: rgba(126, 123, 122, 0.61);
}

#preview{
  border: 5px solid;
  border-color: black;
  background-color: rgba(213, 208, 203, 0.88);
  text-align: right;
  width: 750px;
  margin: 10px;
}

.buttons button{
  width: 150px;
  height: 150px;
  text-align: center;
  padding: 20px 20px;
  margin: 10px;
  font-size: 30px;
}

.number-button{
  background-color: #a2b9bc;
}

.operation-button{
  background-color: #deeaee;
}
