.pokemon-div {
    flex-grow: 1;
}

.comparative-pokemon-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.comparative-stat-row {
    display: block;
}

.comparative-pokemon-number {
    font-size: large;
    font-weight: bold;
}
