.controller-pad-container {
    width: 20%;
    min-width: 100px;
}

.controller-pad-up {
    border: 2px solid black;
    border-bottom-width: 0;
    border-radius: 7px 7px 0 0;
    height: 40px;
}

.controller-pad-up:focus {
    background: linear-gradient(#a8a8a8, #585858);
}

.controller-pad-right {
    border: 2px solid black;
    border-left-width: 0;
    border-radius: 0 7px 7px 0;
    height: 40px;
}


.controller-pad-right:focus {
    background: linear-gradient(to left, #a8a8a8, #585858);
}

.controller-pad-down {
    border: 2px solid black;
    border-top-width: 0;
    border-radius: 0 0 7px 7px;
    height: 40px;
}

.controller-pad-down:focus {
    background: linear-gradient(#585858, #a8a8a8);
}

.controller-pad-left {
    border: 2px solid black;
    border-right-width: 0;
    border-radius: 7px 0 0 7px;
    height: 40px;
}


.controller-pad-left:focus {
    background: linear-gradient(to left, #585858, #a8a8a8);
}

.controller-pad-button {
    background-color: #585858;
    padding: 0;
    outline: none;
}

.controller-pad-button:focus {
    outline: none;
}

.controller-pad-circle {
    width: 50%;
    height: 50%;
    border: 2px solid black;
    border-radius: 50%;
    margin: 25%;
}
