.menu-icon-container {
    background-color: transparent;
    width: 100%;
    border: none;
    padding: 0;
}

.menu-icon-container:focus {
    outline: none;
}

.menu-icon-bar {
    width: 100%;
    border: black 2px solid;
    margin: 4px 0;
}
