.screen-container {
    border: 2px black solid;
    border-radius: 3px 3px 3px 20px;
    background-color: white;
    font-family: Pokemon GB, serif;
    text-transform: initial;
}

@media screen and (min-height: 1000px) {
    .screen-display {
        height: 60vh;
        max-height: 200px;
    }
}

@media screen and (min-height: 700px) and (max-height: 999px){
    .screen-display {
        height: 60vh;
        max-height: 300px;
    }
}

@media screen and (min-height: 600px) and (max-height: 699px){
    .screen-display {
        height: 60vh;
        max-height: 270px;
    }
}


@media screen and (min-height: 500px) and (max-height: 599px){
    .screen-display {
        height: 60vh;
        max-height: 230px;
    }
}

.screen-display {
    background-color: #98cb98;
    border: 2px black solid;
    border-radius: 5px;
    margin: 0 5%;
    text-align: center;
}

.search-container {
    padding: 10% 2%;
}

.search-bar {
    width: 80%;
    display: inline-block;
}

.search-button {
    width: 20%;
    display: inline-block;
    background: transparent;
    border: none;
}

.pokemon-description {
    padding: 0 5%;
    text-align: center;
    font-size: xx-small;
    text-transform: initial;
}

.screen-footer {
    margin-top: 2%;
    margin-bottom: 1%;
}

.bottom-screen-light {
    margin-top: auto;
    margin-bottom: auto;
}
