.screen-container {
    border: 2px black solid;
    border-radius: 3px 3px 3px 20px;
    background-color: white;
    font-family: Pokemon GB, serif;
    text-transform: initial;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.screen-display {
    background-color: #98cb98;
    border: 2px black solid;
    border-radius: 5px;
    margin: 0 5%;
    text-align: center;
    flex-grow: 1;
}

.search-container {
    padding: 3% 2%;
}

.search-bar {
    width: 80%;
    display: inline-block;
    text-transform: capitalize;
}

.search-button {
    width: 20%;
    display: inline-block;
    background: transparent;
    border: none;
}

.pokemon-description {
    padding: 0 5%;
    text-align: center;
    font-size: xx-small;
    text-transform: initial;
    font-weight: bolder;
}


.screen-footer {
    margin-top: 2%;
    margin-bottom: 1%;
}

.bottom-screen-light {
    margin-top: auto;
    margin-bottom: auto;
}
