:root{
    --blue-key: rgb(90, 171, 192);
    --red-key: rgb(255,82,94);
    --gray-key:rgb(128, 124, 121);
}
@font-face {
        font-family: digitalCalc;
        src: url(fonts/digital-7.ttf); }
body{
margin: 0;
padding: 0;
border: 0;
}
#main-container{
    display: flex;
    width: 100vw;
    height: 70vh;
    justify-content: center;
    align-items: center;

}
#calc-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1.5fr repeat(5,1fr);
    gap: 5px 5px;
    padding: 1.5em;
    border-radius:10%;
    height: 45vh;
    width: 38vh;
    background-color: rgb(77, 61, 64);
}
#calc-container>input{
    grid-column: 1/5;
    grid-row:1/2;
    background-color: rgb(215, 231, 165);
    font-family: 'digitalCalc';
    font-size: 3em;
    text-align: end;
    padding: 0;
    border: 0;
    margin-bottom: 5%;
}
#calc-container>input:disabled{
    color: black;
}
#calc-cotainer>button{
    height: 1em;
}
#calc-container>button:nth-child(2){
    grid-column: 1/3;
    grid-row:2/3;
}
#calc-container>button:nth-child(4){
    background-color: var(--blue-key);
}
#calc-container>button:nth-child(8){
    background-color: var(--blue-key);
}
#calc-container>button:nth-child(12){
    background-color: var(--blue-key);
}
#calc-container>button:nth-child(16){
    grid-column: 4/5;
    grid-row: 5/7;
    background-color: var(--blue-key);
}
#calc-container>button:last-child{
    background-color: var(--red-key);
}
.BtnCalc{
    box-shadow: 0;
    border: 0;
    background-color: var(--gray-key);
    color: white;
    font-weight: 700;
    font-size: 1.6em;
}
.BtnCalc:active{
    background-color: aqua;
}