/*************************************************
*
*   Games Library
*   
*
*************************************************/

/*-----------------------------------------------
*  General Style
-----------------------------------------------*/

* {
  box-sizing: border-box;
}

body {
  background: #ebebeb;
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

a:focus {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

label,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

.wrapper {
  display: flex;
  justify-content: center;
}

main.wrapper {
  flex-flow: row wrap;
}

header.wrapper {
  flex-flow: column;
}

/*-----------------------------------------------
*  Search Form 
-----------------------------------------------*/

.searchFilters {
  display: flex;
  flex-flow: row wrap;
  font-size: 1.1em;
  justify-content: center;
  margin: 10px 0;
}

.searchFilters div {
  padding: 10px;
}

select {
  height: 1.5em;
  margin-left: 5px;
  padding-left: 5px;
  width: 150px;
}

.searchButton {
  align-self: center;
  background-color: #ed3c95;
  border: none;
  color: white;
  margin-top: 10px;
  padding: 16px;
  width: 300px;
}

/*-----------------------------------------------
*  initialPage Style
-----------------------------------------------*/

.initialPage {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 75vh;
  justify-content: center;
  text-align: center;
  width: 100vw;
}

.initialPage p,
.initialPage ul,
.initialPage a {
  font-size: 1.5em;
  line-height: 1.2em;
}

.initialPage a {
  color: #ed3c95;
}

/*-----------------------------------------------
*  Navigation
-----------------------------------------------*/

.nav-logo {
  height: 100px;
  object-fit: contain;
}

.nav__link li .active {
  text-decoration: underline white;
}

.nav__link {
  text-align: center;
}

.nav__link li {
  width: 200px;
  display: inline-block;
  font-size: 1.5em;
  margin: 5px 10px;
  padding: 16px 20px;
}

.nav__link li a {
  color: white;
  font-weight: 700;
}

.nav__link li:nth-child(1) {
  background-color: #ec1b2e;
}

.nav__link li:nth-child(2) {
  background-color: #00b2ef;
}

.nav__link li:nth-child(3) {
  background-color: #1ba75c;
}

.nav__link li:nth-child(1):hover {
  background-color: #99131e;
}

.nav__link li:nth-child(2):hover {
  background-color: #5080a0;
}

.nav__link li:nth-child(3):hover {
  background-color: #25744a;
}

/*-----------------------------------------------
*  Amiibo Style
-----------------------------------------------*/

.amiibo {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: 10px;
  padding: 16px;
  width: 320px;
}

.amiibo:hover,
.amiibo:active {
  box-shadow: 0 0 0 3px#747474;
}

.amiibo h2 {
  text-align: center;
  margin: 5px 0;
}

.amiibo ul,
.amiibo h4 {
  margin: 2px 0;
}

.amiibo__img {
  height: 300px;
  object-fit: contain;
  width: 250px;
}

.amiibo__info span {
  font-weight: 700;
}

.amiibo__info > ul > li {
  font-weight: 500;
  padding: 6px;
}

.amiibo__info__container__button {
  border-radius: 10px;
  border: none;
  color: white;
  margin-top: 10px;
  padding: 16px;
  width: 100%;
}

.amiibo__info__container__button--collect {
  background-color: #00b2ef;
}

.amiibo__info__container__button--wishlist {
  background-color: #1ba75c;
}

.amiibo__info__container__button--delete {
  background-color: #f9a51a;
}

.amiibo__info__container__button--collect:hover {
  background-color: #5080a0;
}

.amiibo__info__container__button--wishlist:hover {
  background-color: #25744a;
}

.amiibo__info__container__button--delete:hover {
  background-color: #da8b0d;
}

/*-----------------------------------------------
*  Media Queries
-----------------------------------------------*/

@media screen and (min-width: 20em) and (max-width: 40em) {
  h1 {
    font-size: 2em;
    line-height: 1.25em;
  }

  h2 {
    font-size: 1.625em;
    line-height: 1.15384615em;
  }

  label {
    display: block;
    cursor: pointer;
  }

  .nav__link li {
    width: 100%;
    margin: 5px 0;
  }

  .searchFilters {
    flex-flow: column;
    align-items: center;
  }
}

@media screen and (min-width: 40.0625em) {
  h1 {
    font-size: 2.5em;
    line-height: 1.125em;
  }

  h2 {
    font-size: 2em;
    line-height: 1.25em;
  }

  .nav__link li {
    margin: 0 5px;
  }

  label {
    display: block;
  }
}

@media screen and (min-width: 61.3125em) {
  h1 {
    font-size: 3em;
    line-height: 1.05em;
  }

  h2 {
    font-size: 2.25em;
    line-height: 1.25em;
  }

  p {
    max-width: 38em;
  }

  .wrapper {
    width: 45em;
    margin: 0 auto;
  }
}

@media screen and (min-width: 64em) {
  h2 {
    font-size: 2em;
    line-height: 1.25em;
  }
  .wrapper {
    width: 64em;
  }
  label {
    display: inline;
  }
}
