/*************************************************
*
*   Calculator Stylesheet
*
*   Border Color          : #b8b7b7
*   Button                : #e0e0e0
*   Button Text color     : #4c4c4c
*   Display               : #4c4c4c
*   Display Text Color    : #fff
*   Opetaration Button    : #f79231
*
*************************************************/

* {
  box-sizing: border-box;
}

/* ------------ General CSS ------------ */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

main {
  height: 400px;
}

footer {
  font-weight: bold;
}

/* ------------ Container ------------ */

.container {
  background-color: #4c4c4c;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  height: 320px;
  width: 320px;
}

.container :nth-last-child(3) {
  width: 50%;
  border-bottom-left-radius: 10px;
}

.container :nth-last-child(1) {
  border-bottom-right-radius: 10px;
}

/* ------------ Button ------------ */

.btn {
  background-color: #e0e0e0;
  border: 1px solid #b8b7b7;
  height: 20%;
  width: 25%;
}

.operation {
  background-color: #f79231;
}

/* ------------ Display ------------ */

.display {
  color: #fff;
  font-size: 3em;
  height: 27%;
  line-height: 90px;
  text-align: right;
  vertical-align: middle;
  width: 100%;
}
