body{
  color: #071910;
  font-family: 'Poiret One', cursive;
}

h1{
  font-size: 40px;
  margin-top: 20px;

}

.gBoard{
  width:400px;
  height:400px;
  background-color:#FA8258;
  border-style:solid;
  border-color:  #222f3e;
  border-width: medium;
  font-size: 0;
  float: left;
}

.bField {
  width:96px;
  height:96px;
  border-style:solid;
  border-color: #FE642E;
  border-width: 2px;
  display:inline-block;
}
.pale{
  background-color: #F5D0A9;
}
button{
  width:96px;
  height:96px;
  font-weight: 800;
  font-size:20px;
  color: #fff;
  background-color: #FA8258;
  border-width: 0px;
  padding:0px;
  position:absolute;
}

button:hover{
  cursor:pointer;
  opacity:0.5;
}


aside{
    float: left;
    display: block;
    margin-top: 10px;
    margin-left: 20px;
}

.uMoves{
  color: #FF0040;
  font-size: 20px;
  margin: 2px;
}

footer{
  clear: both;
  display: block;
  font-size: 20px;
  margin-top: 25px;
}
