/* CSS style sheet */

.cover {
    width: 404px;
    height: 523px;
    background-image: url(2Pac_v2.jpg);
}

/* Five types of Fonts */

.font-1 {
    margin-left: 5px;
    color: white;
    font-family: Haettenschweiler;
}

.slogan {
    padding-top: 5px;
    font-size: 12px;
}

.header {
    height: 115px;
}

.box-logo {
    background-color: red;
    width: 175px;
    height: 115px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding-left: 7px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-size: 139px;
    line-height: 74%;
    float:left;
}

.magazine-description {
    float: right;
    font-size: 25px;
    padding-right: 15px; 
}

.font-2, .titulares p{
    color: white;
    font-family: 'Russo One', sans-serif; 
}

.header>span {
    float: right;
    padding-right: 15px;
    line-height: 70%;
    font-size: 22px;
    letter-spacing: -1px;
}

.titulares {
    margin-left: 5px;
    width: 80px;
    line-height: 90%;
    margin-top: -10px;
}

.plus {
    color: red;
    font-size: 38px;
    display: block;
    margin-top: -10px;
    margin-bottom: 10px;
}

.note {
    font-size: 11px;
    font-style: italic;
    line-height: 60%;
    width: 100px; 
}

.footer>.font-2 {
    color:red;
    font-size: 35px;
}

.footer div:first-of-type {
    margin: 5px;
    padding-top: 15px;
    width: 200px;
    line-height: 80%;
}

.footer div:nth-last-of-type(2) {
    font-size: 130px;
    margin-top: -30px;
    float: left;
}

.bar-code {
    float: right;
    margin: 10px;
}

