* {
    margin: 0;
    padding: 0;
}

section#container {
    background-color: #ee1925;
    margin: 0 auto;
    max-width: 768px;
    padding: 30px 45px;
}

div#mainContent {
    background: url(jobs.jpg) center no-repeat;
    background-size: cover;
    border: 5px solid #ffffff;
    height: 1024px;
    position: relative;
}

div#mainContent p {
    color: #ffffff;
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
}

#mainContent h1 {
    color: #ee1925;
    font-size: 270px;
    font-weight: lighter;
    line-height: 0.7;
    text-align: center;
}

article#mainArticle {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

article#mainArticle .articles {
    color: #ffffff;
    font-size: 18px;
    text-align: left;
}

#mainArticle .author {
    color: #ee1925;
    font-size: 14px;
    font-style: italic;
}

#mainArticle h2 {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 70px;
    font-weight: bold;
    line-height: 0.8;
    margin-bottom: 15px;
    max-width: 250px;
}

#container .rightText {
    color: #000000;
    display: block;
    font-size: 13px;
    text-align: right;
    text-decoration: none;
    width: 100%;
}