.btn_grey{
    color:black;
    width: 80px;
    height: 40;
    background-color: rgb(17, 240, 17);
    border-radius: 7px;
    margin-left: 13px;
    margin-top: 10px;
    font-weight: bold;
}

.equal{
    color:white;
    width: 180px;
    height: 40;
    background-color: rgb(255, 126, 0);
    margin-left: 13px;
    border-radius: 7px;
    margin-top: 10px;
}

#screen{
    color:black;
    height: 50;
    background-color: rgb(183, 219, 183);
    text-align: right;
    font-size: 40px;
    margin-left: 13px;
    position: relative;
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    box-shadow: 4px 0px 12px grey inset;
    font-family:'Consolas';
}

.case{
    display:flex;
    justify-content:center;
}

#calc-contain{
    position: relative;
    width: 400px;
    border: 2px solid gray;
    border-radius: 12px;
    margin: 0px auto;
    padding: 20px 20px 40px 20px;
    background-color:black;
  }