nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {   
    background-color: #111;
}

nav ul p{
    color: white;
    display: block;
    float: right;
}

button.cerrarSesion{
    float: right;
    width: 130px;
    margin: 5px 20px;
    background-color: #f8524d;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}