.Personal-projects{
  float:left;
  width: 62%;
}

.Personal-projects h2{
 font-size: 25px;
}

.Personal-projects section:not(.New-project){
  text-align: center;
  border: 3px solid #0B3861;
  border-radius: 10px;
  background-color: #EFFBF2;
  margin-bottom:8px;
}

.Personal-projects section> div, aside> div{
  background-color: #F3F781;
  text-align: center;
  margin: 5px 5px;
  padding: 5px 10px;
  border: 2px solid #F7D358;
  border-radius: 5px;
  vertical-align: top;
  display:inline-block;
  margin-bottom: 15px;
}

.Personal-projects section> div a{
    color:#2f3640;
}

.Personal-projects section> div:hover{
  cursor:pointer;
  background-color: #FACC2E;
}

.Personal-projects section>div{
  width:29%;
}

aside div{
  width:80%;
}

aside:not(.Project-settings) {
  text-align: center;
  border: 3px solid #0B3861;
  border-radius: 10px;
  background-color: #EFFBF2;
  float:right;
  width: 37%;
}
