.Task-card{
  height: 150px;
  font-size: 15px;
  margin:5px auto;
  width:99%;
  border: 2px solid #6E6E6E;
  border-radius: 5px;
}

.Task-card-header, .Task-card-checked-header{
  background-color: #A9F5BC;
  text-align: center;
  color: #424242;
  width: 25%;
  height: inherit;
  float: left;
}

.Task-card-checked-header {
  background-color: #F3E2A9;
}

.Priority{
  display: block;
  margin: 5px auto;
  width:40%;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 700;
  text-align: center;
}

.Priority-high{
  background-color: #e74c3c;
}

.Priority-medium{
  background-color: #F3F781;
}

.Priority-low{
  background-color: #18bc9c;
}

.Task-card-body{
  width:75%;
  height:inherit;
  float: left;
  background-color: white;
}

.Task-responsible, .Task-description{
  vertical-align: top;
  display: inline-block;
  width: 35%;
  height: inherit;
  text-align: center;
  box-sizing: border-box;
  border-right: 2px solid #dcdde1;
}

.Task-description{
  width: 40%;
}

.Task-card h4{
  color: #1C1C1C;
  text-align: center;
}

.Task-footer{
  display: inline-block;
  width: 25%;
  height: inherit;
}

.Task-footer button{
  margin: 3px;
  width: 60%;
  padding: 3px 0px;
}
