
.app {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
  grid-template-areas:
    "m m m m m r"
    "m m m m m r"
    "m m m m m r"
    "m m m m m r"
    "m m m m m r"
    "s s s s s n";
}

.new-room-form {
  grid-area: n;
}

.rooms-list {
  grid-area: r;
}

.message-list {
  grid-area: m;
}

.send-message-form {
  grid-area: s;
}

.rooms-list {
  box-sizing: border-box;
  padding: 10px;
  background-color: #5ea3d0;
  overflow: scroll;
  height: 100%;
}

.rooms-list ul {
  list-style-type: none;
  padding: 0;
  overflow: scoll;
}

.rooms-list li {
  margin: 10px 0;
}

.rooms-list h3 {
  margin: 5px 0;
  color: antiquewhite;
}

.rooms-list .room a {
  color: #b0c7d6;
  font-weight: 600;
  text-decoration: none;
}

.rooms-list .room.active a {
  color: antiquewhite;
}

.new-room-form {
  padding: 0 5px;
  background: antiquewhite;
  color: #3e5869;
}

.new-room-form form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-room-form input {
  width: 135px;
  background: antiquewhite;
}

.new-room-form button {
  background: antiquewhite;
  color: #3e5869;
  border: 0;
}

.new-room-form input::placeholder {
  color: #3e5869;
  font-weight: 200;
}

.new-room-form input:focus {
  outline-width: 0;
}

.new-room-form input {
  border: 0;
}

.new-room-form button {
  border: 0;
}

.message {
  margin: 15px 0;
}

.message .message-username {
  font-size: 11px;
  color: #3e5869;
  opacity: 0.9;
  margin-bottom: 6px;
}
.message .message-text {
  background: #5ea3d0;
  color: antiquewhite;
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
}

.message-list {
  box-sizing: border-box;
  padding-left: 6px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: antiquewhite;
}

.message-list .join-room {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 34px;
  font-weight: 300;
}

.send-message-form {
  background: #f5f5f5;
  display: flex;
}

.send-message-form input {
  width: 100%;
  padding: 15px 10px;
  margin: 0;
  border-style: none;
  background: #f5f5f5;
  font-weight: 200;
}

.send-message-form input:focus {
  outline-width: 0;
}

.send-message-form input::placeholder {
  color: #3e5869;
}

.help-text {
  position: absolute;
  top: 10px;
}

