@font-face{
    font-family: "Fuente";
    src: url(BebasNeue-Regular.ttf);
}
@font-face{
    font-family: "Fuente2";
    src: url(RomanSerif.ttf);
}
@import url('normalize.css');
body{
    margin: auto;
    background: grey;
    border: 35px solid red;
    height:792px;
    width: 612px;
}
.cover{
background-image:url("https://static1.squarespace.com/static/577003695016e1ce8e474997/t/58f097dac03026048d8a5923/1492162644075/Obama.jpg");
background-size: 612px 792px;
height: 792px;
width: 612px;
border: 3.5px solid black;
margin: auto;
}
.tittle img{
    height: 200px;   
    width: 612px; 
}
#image{
    box-sizing: border-box;
    padding: 10px;
}
.size{
    box-sizing: border-box;
    padding: 9px;
    height: 73px;
    width: 69px;
}
.div{display: inline-block;}
.div p{margin: 0%;}
#move2{
position: relative;
left:80px;
}
#move{
    position: relative;
    left: 80px;
    bottom: px;
    color:gray;
    font-family: Fuente;
}
#move3{
    position: relative;
    bottom: px;
    color: gray;
    font-family: Fuente;
}
#move3 .big{font-size: 45px;}
#move3 .little{font-size: 31px;}
#move .big{font-size: 49px;}
#move .little{font-size: 27px;}
.article p{
position: relative;
box-sizing: border-box;
padding: 0px 10px;
top: 160px;
margin: 0%;
text-align: right;
font-family: Fuente2;
font-weight: bold;
}
.a {font-size: 30px;}
.c{font-size:13px;}
.b{font-size: 12px; color: red;}

