html{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

h1{
  text-align: center;
  margin 0%;
}
h3{
  text-align: right;
  margin: 10px;
  padding-right: 5px;
}
.container{
  border: 2px solid black;
  margin: auto;
  padding: 20px;
  width: 300px;
  height: 200px;
}
.display{
  background-color: lightgray;
  padding: 1px;
  height: 40px;
}
.buttons{
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
}
