.body{

  font-style: oblique;
  font-family: 'Roboto Condensed', sans-serif;
}


.cldora{
   display: block;
   margin: 20px auto;
   padding: 15px;
   width: 350px;
   height: 600px;
   background-color: #1AD7C0;
   border-radius: 20px;
}

.cldora td button{
  display: block;
  width: 82px;
  height: 82px;
  font-size: 20px;
}

#res{
  display: block;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  width: 340px;
  height: 120px;
  line-height: 100px;
  background-color: #fff;
  border-radius: 20px;
  overflow-y: scroll;
}
