
.containerHome{
    background: white;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 200px 0px;
}
.containerHome .video-foreground iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}