@import url('https://fonts.googleapis.com/css?family=Oswald');
.containerProducts{
    font-family: 'Oswald', sans-serif;
    color: white;
}
.containerProducts div{
    height: 700px;  
}
.presentation{
   background-image: url(../pictures/background.jpg);
   background-attachment: fixed; 
   background-size: 1343px; 
}
.presentation h2{
    position: relative;
    top: 160px;
    font-size: 100px;
    text-decoration: underline;
}

.Product1{
    background-image: url(../pictures/jackold7.jpg);
    background-size: 1343px; 
    font-size: 70px;
    text-align: left;
    padding: 20px;
}
.Product2{
    background-image: url(../pictures/jackrye.jpg);
    background-size: 1343px; 
    font-size: 70px;
    text-align: right;
    padding: 20px;
}
.Product3{
    background-image: url(../pictures/jackgentleman.jpg);
    background-size: 1343px; 
    font-size: 70px;
    text-align: left;
    padding: 20px;
}
.Product4{
    background-image: url(../pictures/jackhoney.png);
    background-size: 1343px; 
    font-size: 70px;
    text-align: right;
    padding: 20px;
}



