/*************************************************
*
*   Slibling Puzzle Colors
*   
*   Button         : #7ec9f1
*   container      : #2d3e4f
*   Solve          : #3a99d9
*   Shuffle        : #e54d42 
*   Background     : #c5d1Eb     
*
*************************************************/

/*-----------------------------------------------
*  General Style
-----------------------------------------------*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background-color: #c5d1eb;
}

header,
footer {
  margin: 0;
  text-align: center;
}

/*-----------------------------------------------
*  Container Style 
-----------------------------------------------*/

.container {
  display: flex;
  margin: 0 auto;
  width: 720px;
  justify-content: space-between;
}

/*-----------------------------------------------
*  Wrapper Style  
-----------------------------------------------*/

.container > div > button {
  background-color: #c5d1eb;
  border: none;
  border-left-style: solid;
  border-left-color: black;
  font-size: 2.5em;
  margin-top: 15px;
}

.container > div > button:first-child {
  color: #3a99d9;
}

.container > div > button:last-child {
  color: #e54d42;
}

.container > h2 {
  font-size: 2em;
  margin-top: 15px;
}

/*-----------------------------------------------
*  Options  Style 
-----------------------------------------------*/

.options {
  width: 80%;
}

fieldset,
label,
select {
  background-color: #c5d1eb;
  font-size: 1.2em;
  display: inline;
  margin: 0;
  border: none;
  padding: 0px;
  padding-top: 5px;
}

select {
  border-left-style: solid;
  border-left-color: black;
}

/*-----------------------------------------------
*  Btn style
-----------------------------------------------*/

.btn__wrapper {
  align-content: center;
  background-color: #2d3e4f;
  border-radius: 15px;
  display: flex;
  flex-flow: row wrap;
  height: 80vh;
  justify-content: center;
  margin: 0 auto;
  width: 720px;
}

.btn__wrapper .btn {
  font-size: 4em;
  background-color: #7ec9f1;
  margin: 1%;
  width: 17%;
  height: 17%;
  border: none;
  border-radius: 15px;
}

.zero {
  visibility: hidden;
}
