/*************************************************
*
*   Slibling Puzzle Colors
*   
*       
*   
*
*************************************************/

/*-----------------------------------------------
*  General Style
-----------------------------------------------*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}
