/*************************************************
*
*   Slibling Puzzle Colors
*   
*   Button         : #7ec9f1
*   container      : #2d3e4f
*   Solve          : #3a99d9
*   Shuffle        : #e54d42 
*   Background     : #c5d1Eb     
*
*************************************************/

/*-----------------------------------------------
*  General Style
-----------------------------------------------*/

* {
  box-sizing: border-box;
}

body {
  background-color: #c5d1eb;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

header,
footer {
  margin: 0;
  text-align: center;
}

/*-----------------------------------------------
*  Container Style 
-----------------------------------------------*/

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 720px;
}

/*-----------------------------------------------
*  Wrapper Style  
-----------------------------------------------*/

.container > div > button {
  background-color: #c5d1eb;
  border-left-color: black;
  border-left-style: solid;
  border: none;
  font-size: 2em;
  margin-top: 15px;
}

.container > div > button:first-child {
  color: #3a99d9;
}

.container > div > button:last-child {
  color: #e54d42;
}

.container > h2 {
  font-size: 2.5em;
  margin-top: 15px;
}

/*-----------------------------------------------
*  Options  Style 
-----------------------------------------------*/

fieldset,
select {
  background-color: #c5d1eb;
  border: none;
  display: inline;
  margin: 0;
  padding: 0;
}

label,
select {
  border-left-color: black;
  border-left-style: solid;
  font-size: 2em;
  padding-left: 10px;
}

/*-----------------------------------------------
*  Btn style 
-----------------------------------------------*/

.btn__wrapper {
  align-content: center;
  background-color: #2d3e4f;
  border-radius: 15px;
  display: flex;
  flex-flow: row wrap;
  height: 80vh;
  justify-content: center;
  margin: 0 auto;
  width: 720px;
}

.btn__wrapper .btn {
  background-color: #7ec9f1;
  border-radius: 15px;
  border: none;
}

.zero {
  visibility: hidden;
}

/*-----------------------------------------------
*  size Style
-----------------------------------------------*/

.size3 .btn {
  font-size: 7em;
  height: 28%;
  margin: 2%;
  width: 28%;
}

.size4 .btn {
  font-size: 6em;
  height: 21%;
  margin: 1.5%;
  width: 21%;
}

.size5 .btn {
  font-size: 5em;
  height: 17%;
  margin: 1%;
  width: 17%;
}

.size6 .btn {
  font-size: 3em;
  height: 14%;
  margin: 1%;
  width: 14%;
}

.size7 {
  width: 850px;
}

.size7 .btn {
  font-size: 3em;
  height: 11.5%;
  margin: 1%;
  width: 11.5%;
}
