.page {
  margin-left: 20%;
  padding: 5%;
  text-align: left;
  width: 80%;
  font-size: 1.3em;
}

.page h2 {
  font-size: 2.5rem;
}

.page h2::first-letter {
  text-transform: uppercase;
}

.page h2 span {
  color: #660066;
  text-transform: capitalize;
}

.slide {
  width: 500px;
}
