*{
	padding: 0;
	margin: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body{
    background-color: black;
}

#cover-wrapper{
    border: 1px solid white;
    width: 39%;
    min-width: 660px;
    min-height: 970px;
    height: 100%;
    position: relative;
    left: 50%;
    margin-left: -19.5%;
}

#cover{    
    position: relative;
    width: 100%;
    min-height: 99%;
    top: 0.5%;

    background-image: url("background.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

#header{
    padding: 5px 0;
    width: 99%;
    position: relative;
    left: 0.5%;
}

#cover #header h1{
    margin: 0;
    color: black;
    text-align: center;
    font-family: 'Londrina Solid', cursive;
    font-size: 120px;
    margin-top: -15px;
    text-shadow: 1px 1px white;
}

#cover #header p{
    text-align: center;
    font-family: 'Londrina Solid', cursive;
    font-weight: 300;
    color: white;
}

#cover #header p:first-child{
    background-color: #0066CC;
    color: white;
    border-radius: 5px;
    position: relative;
    width: 85%;
    left: 50%;
    margin-left: -42.5%;
    padding: 2px 5px;
    font-weight: 500;
    box-shadow: 5px 10px 10px #505050;   
}

#cover #header p:last-child{
    position: relative;
    margin-top: -1.2em;
}

#left-side{
    position: relative;
    float: left;
    width: 40%;
}

#cover #body #left-side div:nth-child(1){
    margin-left: 20px;
    width: 100%;
}

#cover #body #left-side div:nth-child(3){
    margin-left: 20px;
    width: 100%;
}

#cover #body h2{
    font-family: 'Londrina Solid', cursive;
    text-shadow: 2px 2px black;
    color: white;
    font-size: 50px;    
}

#cover #body div > p{
    font-family: 'Londrina Solid', cursive;
    font-weight: 200;
}

#cover #body #left-side div > p{  
    color: white;
    font-size: 20px;
    margin-left: 2px;
    margin-top: -0.7em;
}

#cover #body .circle{
    width: 155px;
    height: 155px;
    background-color: red;
    text-align: center;
    margin: 20px;
    border-radius: 1000px;
    box-shadow: 4px 3px 10px rgb(150,150,150);  
}

#cover #body .circle > p{
    margin: 0;
    padding: 5px 15px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 100;
    font-family: 'Poor Story', cursive;

            transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);    
}

#right-side{
    position: relative;
    float: right;
    width: 50%;
    right: 0.5%;
}

#right-side div{
    text-align: right;
}

#right-side h2,
#right-side p{
    position: relative;
    right: 3.5%;
}

.dog-picture{
    position: relative;
    float: right;
    width: 150px;
    height: 150px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 10px;
}

.dog-picture img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#right-side div .photo-text{
    position: relative;
    float: right;
    font-size: 20px;
    padding: 2px 5px;
    color: black;
    border-radius: 10px;
    margin-top: -5px;
    background-color: rgba(255,255,0,0.8);
}

#body #footer{
    position: absolute;
    width: 98%;
    left: 1%;
    bottom: 0;
    background-color: rgb(255, 51, 51);
}

#body #footer p{
    color: white;
    font-size: 17px;
    padding: 0;
    margin: 0;
    text-align: center;
}