* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    box-sizing: border-box;
    font-size: 18px;
}

abbr[title] {
    text-decoration: none !important;
}

.cover {
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center; 
    background-size: cover;
    background-image: url('cover.jpg');
    float: left;
    margin-left: 25%;
    padding: 1%;
    width: 50%;
    
}

.column {
    float: left;
    width: 50%;
}

.title {
    font-family: 'Anton', sans-serif;
}

.text {
    font-family: 'Oswald', sans-serif;
}

.title , .text {
    display: inline-block;
    line-height: 1em;
    margin: 1% 0;
}

.breaked {
    display: block;
}

.cover h1.title {
    background-color: red;
    color: white;
    font-size: 8em;
    letter-spacing: .05em;
    padding: 1%;
}

h2.title.breaked:first-of-type {
    line-height: 1.2em;
    font-weight: 700;
}

h2.title.breaked:first-of-type > span {
    font-size: 1.2em;
    font-style: italic;
}

h2.big {
    color: red;
    font-size: 5em;
}

h2.text.breaked:last-of-type {
    color: white;
    font-size: 2em;
}

.cover .column:last-child {
    text-align: right;
    color: white;
}

.cover .column:last-child h3 {
    color: azure;
    font-size: 1.7em;
    margin-top: 8%;
}

.cover .column:last-child h4 {
    margin-top: 100%;
    font-size: 1.4em;
}

.cover .column:last-child img {
    width: 40%;
}
